/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 Jan, 2016, 4:06:26 PM
    Author     : ark-05
*/

.navi ul.pat_nav li {
    text-align: center !important;
}

.butterbar {
    z-index: 1026;
}

.app-footer {
    z-index: 999;
}

.highlighted {
    font-weight: 500;
    text-decoration: underline;
    background-color: #ffc !important;
    color: #222 !important;
}

.editable-wrap .form-group{
    margin-left: 0px;
}

.patient_aside, .patient_content{
    margin-top: 105px;
}

th[st-sort] {
    cursor: pointer;
}

@media screen {
    #printSection {
        display: none;
    }
}

@media print {
    body * {
        visibility:hidden;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
}

.bg-success {
    color: #ffffff;
}

.pagination {
    margin: 0;
}

.category_badge{
    background-color: #119BC0;
}

.smaller .patient-row1 {
    display: none;
}

.patient-panel {
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
    height: 100px;
}

.patient-panel.smaller {
    height: 35px;

}

.headerbg2{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.full-cont .patient_aside, .full-cont .patient_content {
    margin-top: 145px;
}

.prescrip-header{
    width:100%;
    float:left;
    padding:10px; 
    padding-bottom:0px; 
    margin-bottom:15px; 
    height:40px
}

.linkDisabled {
    cursor: not-allowed;
    pointer-events: none;
    color: grey;
    opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}

.show2{
    display: inline-block !important;
}

.navi ul.nav li a {
    width: 100% !important;
}

.hms-plus:focus { 
    color: #ffffff !important;
}

video {
    width: 100% !important;
    height: 100% !important;
}

#makeit-full.fullscreen{
    z-index: 9999; 
    width: 50%; 
}

.app-aside-right.fullscreen{
    width: 50%; 
}

.cropArea {
    overflow: hidden;
    width:100%;
    height:250px;
}

.doctor-name > b {
    line-height: 40px;
    text-transform:uppercase;
}

/* 2016-06-20 */
.form-group {
    margin-bottom: 5px;
}

.line-lg {
    margin-bottom: 5px;
    margin-top: 5px;
}

.control-label {
    padding-top: 0px;
}

#xmlform h2{
    margin-top: 10px;
    margin-bottom: 20px;
}

#xmlform .label, .badge {
    color: #ffffff !important;
    font-size: 15px;
    font-weight: 600;
}

@media print
{
    table {
        overflow: visible !important;
    }

    table { page-break-after:auto !important}
    tr    { page-break-inside:avoid !important; page-break-after:auto !important }
    td    { page-break-inside:avoid !important; page-break-after:auto !important}
    thead { display:table-header-group !important}
    tfoot { display:table-footer-group !important}

}

.not_yet_discharge{
    color: #c0c0c0 !important;
    font-weight: 700;
    text-align: center;
}

.selected_row, .selected_row td{
    background-color: #E5FFE5 !important;
}

/* Smart Table - Sort Option */
.sort-header {
    cursor: pointer;
}
.sort-header:after {
    font-family: FontAwesome;
    content: '  \f0dc';
    color: lightgrey;
}
.st-sort-ascent:before {
    content: '';
}
.st-sort-ascent:after {
    font-family: FontAwesome;
    content: '  \f0de';
    color: black;
}
.st-sort-descent:before {
    content: '';
}
.st-sort-descent:after{
    font-family: FontAwesome;
    content: '  \f0dd';
    color: black;
}

.patient-image {
    border-radius: 50%;
}