/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 Jan, 2016, 4:06:26 PM
    Author     : ark-05
*/

.navi ul.pat_nav li {
    text-align: center !important;
}

.butterbar {
    z-index: 1026;
}

.app-footer {
    z-index: 999;
}

.highlighted {
    font-weight: 500;
    text-decoration: underline;
    background-color: #ffc !important;
    color: #222 !important;
}

.editable-wrap .form-group{
    margin-left: 0px;
}

.patient_aside, .patient_content{
    margin-top: 89px;
}

th[st-sort] {
    cursor: pointer;
}

@media screen {
    #printSection {
        display: none;
    }
}

@media print {
    body * {
        visibility:hidden;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
}

.bg-success {
    color: #ffffff;
}

.pagination {
    margin: 0;
}

.category_badge{
    background-color: #119BC0;
}

.smaller .patient-row1 {
    display: none;
}

.patient-panel {
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
    height: 100px;
}

.patient-panel.smaller {
    height: 35px;

}

.headerbg2{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}




