@media print
{
    @page  {
        size: auto;
        margin-bottom: 20mm;
    }

    * { margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; }
    .invoice { width:1000px; margin:0 auto }
    table { width:100%; border-collapse:collapse }
    table td { vertical-align:middle }

    /* Invoice Style */
    .referenceId { padding:8px 0 }
    .patientInfo { padding:10px 0; border-top:1px solid #b0b0b0; border-bottom:1px solid #b0b0b0; /*height:75px;*/ text-align:left; margin-bottom:0px; }
    .patientInfo h2 { font-size:22px;      margin-top: 0px; font-weight: bold;
                      margin-bottom: 0px;  }
    .patientInfo td { padding:5px 0 }
    .greenBg { background:#595959; padding:5px; border-radius:50%; color:#fff; width: 40px; height: 40px; -webkit-print-color-adjust: exact; -moz-box-sizing:border-box; -ms-box-sizing:border-box; text-transform:uppercase; font-size:11px; letter-spacing:1px }
    .patientInfo .borderLeft { border-left:1px solid #b0b0b0; padding-left:2em }
    .prescriptionInfo { padding-top:0.5em }
    .prescriptionInfo th { border-bottom:1px solid #222222; line-height: 38px; font-size:15px  }
    .medclinic_thead th { border-bottom:none; }
    .prescriptionInfo th, .prescriptionInfo td { text-align:left }  

    .prescriptionInfo th span {
        border-bottom: 3px solid #222222;
        display: inline-block;
        /* padding-bottom: 1px; */
        line-height: 40px;
    }

    .patientInfo ul
    {
        margin:0px;
        padding:0px;
        font-weight:normal;
    }

    .patientInfo ul li
    {
        display:inline-block;
        width:22%;
        margin-right:2%;
        padding-bottom:5px;
        font-size:18px;
    }


    .extra
    {
        padding-top:5px;
        font-size:22px;
        vertical-align:top;
    }


    .prescriptionInfo .txtCenter, .txtCenter { text-align:center }
    /*.prescriptionInfo tbody tr:nth-child(even) { background:#ebebeb }*/
    .prescriptionInfo tr td { padding:5px 0; font-size:17px }
    .prescriptionInfo tr td  p { font-weight:bold; font-size:17px  }
    /*.prescriptionInfo tr td:first-child { padding-left:10px }
    .prescriptionInfo tr:first-child td { padding-top :30px }*/
    .prescriptionInfo td i { text-transform:uppercase; color:#7d7d7d; font-size:15px }
    .txtUpper { text-transform:uppercase }
    .prescriptionInfo p { margin: 0;     font-size: 17px; }
    /*.nextVisit td { padding-top:5em; margin-top: 50px; }*/
    .printBtn { background:#3ebb95; color:#fff; border:none; padding:5px 20px; border-radius:2px; font-weight:bold; letter-spacing:0.5px; font-size:15px; cursor:pointer }
    .logoTxt { position:relative }
    .logoTxt span { color:#b1b1b1 }
    .absoluteTxt {
        position: absolute;
        top: 37px;
        left: 22px;
    }
    .medclinic_thead tr th { font-size:21px }
    .medclinic_thead tr td { padding:5px 0; font-size:21px }
    .medclinic_thead tr td  p { font-weight:bold; font-size:21px  }
    .medclinic_thead td i { text-transform:uppercase; color:#7d7d7d; font-size:18px }
    .medclinic_thead p { margin: 0;     font-size: 21px; }

    /*.lightColor { color:#6b6b6b }*/
    .nextVisit {font-size:15px; bottom: 5px;}
    .patient_pres {
        padding-top: 2px !important;
        text-align:left;
    }

    .patient_pres h2 {
        font-size: 20px;
    }
    .medclinic_header h2 {
        font-size: 25px;
    }

    .pres-icon1 img
    {
        position: relative;
        top: 5px;
    }
    /*prescription part End*/
    .icon-food, .icon-morning, .icon-afternoon, .icon-evening
    {
        font-size:22px;
        line-height:40px;
        height:40px;
    }

    .icon-night
    {
        height:40px;
        line-height:40px;
        font-size:15px;
    }
}


@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?kz6zmk');
    src:  url('../fonts/icomoon.eot?kz6zmk#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?kz6zmk') format('truetype'),
        url('../fonts/icomoon.woff?kz6zmk') format('woff'),
        url('../fonts/icomoon.svg?kz6zmk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-food:before {
    content: "\e900";
}
.icon-afternoon:before {
    content: "\e901";
}
.icon-evening:before {
    content: "\e902";
}
.icon-morning:before {
    content: "\e903";
}
.icon-night:before {
    content: "\e904";
}


* { margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; }
.invoice { width:1000px; margin:0 auto }
table { width:100%; border-collapse:collapse }
table td { vertical-align:middle }

/* Invoice Style */
.referenceId { padding:8px 0 }
.patientInfo { padding:10px 0; border-top:1px solid #b0b0b0; border-bottom:1px solid #b0b0b0; /*height:75px;*/ text-align:left; margin-bottom:0px; }
.patientInfo h2 { font-size:22px;      margin-top: 0px; font-weight: bold;
                  margin-bottom: 0px;  }
.patientInfo td { padding:5px 0 }
.greenBg { background:#595959; padding:5px; border-radius:50%; color:#fff; width: 40px; height: 40px; -webkit-print-color-adjust: exact; -moz-box-sizing:border-box; -ms-box-sizing:border-box; text-transform:uppercase; font-size:11px; letter-spacing:1px }
.patientInfo .borderLeft { border-left:1px solid #b0b0b0; padding-left:2em }
.prescriptionInfo { padding-top:0.5em }
.prescriptionInfo th { border-bottom:1px solid #222222; line-height: 38px; font-size:15px  }
.medclinic_thead th { border-bottom:none; }
.prescriptionInfo th, .prescriptionInfo td { text-align:left }  

.prescriptionInfo th span {
    border-bottom: 3px solid #222222;
    display: inline-block;
    /* padding-bottom: 1px; */
    line-height: 40px;
}

.patientInfo ul
{
    margin:0px;
    padding:0px;
    font-weight:normal;
}

.patientInfo ul li
{
    display:inline-block;
    width:22%;
    margin-right:2%;
    padding-bottom:5px;
    font-size:19px;
}


.extra
{
    padding-top:5px;
    font-size:22px;
    vertical-align:top;
}


.prescriptionInfo .txtCenter, .txtCenter { text-align:center }
/*.prescriptionInfo tbody tr:nth-child(even) { background:#ebebeb }*/
.prescriptionInfo tr td { padding:5px 0; font-size:17px }
.prescriptionInfo tr td  p { font-weight:bold; font-size:17px  }
/*.prescriptionInfo tr td:first-child { padding-left:10px }
.prescriptionInfo tr:first-child td { padding-top :30px }*/
.prescriptionInfo td i { text-transform:uppercase; color:#7d7d7d; font-size:15px }
.txtUpper { text-transform:uppercase }
.prescriptionInfo p { margin: 0;     font-size: 17px; }
/*.nextVisit td { padding-top:5em; margin-top: 50px; }*/
.printBtn { background:#3ebb95; color:#fff; border:none; padding:5px 20px; border-radius:2px; font-weight:bold; letter-spacing:0.5px; font-size:15px; cursor:pointer }
.logoTxt { position:relative }
.logoTxt span { color:#b1b1b1 }
.absoluteTxt {
    position: absolute;
    top: 37px;
    left: 22px;
}

.medclinic_thead tr th { font-size:21px }
.medclinic_thead tr td { padding:5px 0; font-size:21px }
.medclinic_thead tr td  p { font-weight:bold; font-size:21px  }
.medclinic_thead td i { text-transform:uppercase; color:#7d7d7d; font-size:18px }
.medclinic_thead p { margin: 0;     font-size: 21px; }

/*.lightColor { color:#6b6b6b }*/
.nextVisit {font-size:15px; bottom: 5px;}
.patient_pres {
    padding-top: 2px !important;
    text-align:left;
}

.patient_pres h2 {
    font-size: 20px;
}
.medclinic_header h2 {
    font-size: 25px;
}

.pres-icon1 img
{
    position: relative;
    top: 5px;
}
/*prescription part End*/
.icon-food, .icon-morning, .icon-afternoon, .icon-evening
{
    font-size:22px;
    line-height:40px;
    height:40px;
}

.icon-night
{
    height:40px;
    line-height:40px;
    font-size:15px;
}