<table class="invoice" align="center">
    <thead>
        <tr>
            <th colspan="2">
                <table>
                    <tbody>
                        <tr>
                            <td width="48%">
                                <table cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td class="patient_pres"><h2>{{patientObj.fullname}} / {{patientObj.patient_age_ym}}</h2></td>
                                        </tr>
                                        <tr>
                                            <td style="padding-bottom: 5px;" class="patient_pres">{{patientObj.patient_global_int_code}} 
                                                <span ng-if="patientObj.patient_category" style="background-color: {{patientObj.patient_category_color}}" class="greenBg">
                                                    {{patientObj.patient_category| uppercase}}
                                                </span>
                                            </td>
                                        </tr>
                                        <!--                                        <tr>
                                                                                    <td class="patient_pres">Consultant : <span class="lightColor">Dr.R.M.Manikandan</span></td>
                                                                                </tr>-->
                                    </tbody>
                                </table>
                            </td>
                            <td width="20%" align="center" class="logoTxt">
                                <!--                                <img ng-src="{{IRISOrgUrl}}/img/rx.jpg" alt="Morning" width="15px" height="18px" />-->
                    <io-barcode code="{{patientObj.patient_global_int_code}}" type="CODE128B" options="barcodeOptions" width="185px" height="50px"></io-barcode>
                    </td>
                    <td width="32%" align="right">
                        <span style="font-size: 18px; margin-right: 5px; line-height:16px;">{{today| date: "dd-MMMM-y" }}</span>
                        <!--                        <table>
                                                    <tbody>
                                                        <tr align="right">
                                                            <td><span style="font-size: 16px; margin-right: 5px; line-height:16px;">{{today| date: "dd-MMMM-y" }}</span></td>
                                                        </tr>
                                                        <tr align="right">
                                                            <td><io-barcode code="{{patientObj.patient_global_int_code}}" type="CODE128B" options="barcodeOptions" width="185px" height="50px"></io-barcode></td>
                                </tr>
                                </tbody>
                        </table>-->
                    </td>
        </tr>
        </tbody>
</table>
</th>
</tr>
<tr>
    <th colspan="2"> <table class="patientInfo">
            <tbody>
                <tr>
                    <td>
                        <ul> 
                            <li ng-if="((vitalcong.BP == 1) && ((vital.blood_pressure_systolic) || (vital.blood_pressure_diastolic)))"><strong> BP :</strong> {{vital.blood_pressure_systolic|| '-'}} / {{vital.blood_pressure_diastolic|| '-'}} mmHg</li>
                            <li ng-if="((vitalcong.Pulse == 1) && (vital.pulse_rate))"><strong> Pulse :</strong> {{vital.pulse_rate|| '-'}} Beats</li>
                            <li ng-if="((vitalcong.Weight == 1) && (vital.weight))"><strong> Weight : </strong>{{vital.weight|| '-'}} Kg</li>
                            <li ng-if="((vitalcong.SP02 == 1) && (vital.sp02))"><strong> Sp02 :</strong> {{vital.sp02|| '-'}} </li>
                            <li ng-if="(vitalcong.Pain_Score == 1 && vital.pain_score)"><strong> Pain :</strong> {{vital.pain_score|| '-'}} </li>
                            <li ng-if="((vitalcong.Temperature == 1) && (vital.temperature))"><strong> Temp :</strong> {{vital.temperature|| '-'}} °C </li>
                            <li ng-if="((vitalcong.Height == 1) && (vital.height))"> <strong>Height : </strong>{{vital.height|| '-'}} CM </li>
                            <li ng-if="((vitalcong.BMI == 1) && (vital.bmi))"><strong> BMI :</strong>{{vital.bmi|| '-'}} </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table></th>
</tr>
<!--<tr ng-if="prescription_print.SA == 1" style="padding: 4px;">
    <td width="89" align="left" valign="top" class="extra"> <strong>Allergies : </strong></td>
    <td width="899" align="left" valign="top" class="extra">{{data2.allergies||'-'}}</td>
</tr>
<tr ng-if="prescription_print.SD == 1" style="padding: 4px;">
    <td width="89" align="left" valign="top" class="extra"> <strong>Allergies : </strong></td>
    <td width="899" align="left" valign="top" class="extra">{{data2.diag_name||'-'}}</td>
</tr>-->
<tr ng-if="prescription_print.SA == 1" align="left" style="padding: 8px 0px;" valign="top">
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="10%" align="left" valign="top" class="extra"><b>Allergies :</b></td>
                <td width="90%" align="left" valign="top" class="extra">{{data2.allergies||'-'}}</td>
            </tr>
        </table>
    </td>
</tr>
<tr ng-if="prescription_print.SD == 1" align="left" style="padding: 8px 0px;" valign="top">
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="10%" align="left" valign="top" class="extra"><b>Diagnosis :</b></td>
                <td width="90%" align="left" valign="top" class="extra">{{data2.diag_name||'-'}}</td>
            </tr>
        </table>
    </td>
</tr>
<!--<tr>
    <td ng-if="prescription_print.SD == 1" align="left" style="padding: 4px;" valign="top"><b>Diagnosis :</b> {{data2.diag_name}}</td>
</tr>-->
</thead>
<tfoot>
</tfoot>
<tbody>
    <tr>
        <td>
            <table  class="prescriptionInfo">
                <thead>
                    <tr>
                        <th><span>Medicine Name</span></th>
                        <th width="5%" class="txtCenter pres-icon1"><span><img ng-src="{{IRISOrgUrl}}/img/weather1.png" alt="Morning" /></span></th>
                        <th width="5%" class="txtCenter pres-icon1"><span><img ng-src="{{IRISOrgUrl}}/img/weather2.png" alt="Afternoon" /></span></th>
                        <th width="5%" class="txtCenter pres-icon1"><span><img ng-src="{{IRISOrgUrl}}/img/weather3.png" alt="Evening" /></span></th>
                        <th width="5%" class="txtCenter pres-icon1"><span><img ng-src="{{IRISOrgUrl}}/img/weather4.png" alt="Night" /></span></th>
                        <th></th>
                        <th width="8%" class="txtCenter"><span>Days</span></th>
                        <th width="8%" class="txtCenter"><span>Qty</span></th>
                        <th width="5%" class="txtCenter pres-icon1"><span><img ng-src="{{IRISOrgUrl}}/img/food.png" alt="Night" /></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="(gKey, row) in prescriptionItems2">
                        <td><p><span style="font-weight: normal">{{gKey + 1}}.</span> {{row.product_name}}</p><i>(<b>{{row.generic_name}}</b>)</i></td>
                        <td class="txtCenter txtUpper" colspan="4" ng-if="row.freqType == 'txt'">{{ getFrequencyExists(row.frequency_name, 0, row.freqType)}}</td>

                        <td class="txtCenter" ng-if="row.freqType != 'txt'">
                            <span ng-bind-html="getFrequencyExists(row.frequency_name, 0, row.freqType)"></span>
                        </td>
                        <td class="txtCenter" ng-if="row.freqType != 'txt'">
                            <span ng-bind-html="getFrequencyExists(row.frequency_name, 1, row.freqType)"></span>
                        </td>

                        <td class="txtCenter" ng-if="((row.freqType == 3) && (row.freqType != 'txt'))">-</td>
                        <td class="txtCenter" ng-if="((row.freqType != 3) && (row.freqType != 'txt'))">
                            <span ng-bind-html="getFrequencyExists(row.frequency_name, 2, row.freqType)"></span>
                        </td>

                        <td class="txtCenter" ng-if="((row.freqType == 3) && (row.freqType != 'txt'))">
                            <span ng-bind-html="getFrequencyExists(row.frequency_name, 2, row.freqType)"></span>
                        </td>
                        <td class="txtCenter" ng-if="((row.freqType != 3) && (row.freqType != 'txt'))">
                            <span ng-bind-html="getFrequencyExists(row.frequency_name, 3, row.freqType)"></span>
                        </td>
                        <td>
                            {{(row.product.description_name| uppercase) == 'SYRUP' ? "ml" : "" }}
                        </td>

                        <td class="txtCenter">{{row.number_of_days}}</td>
                        <td class="txtCenter">{{row.total_qty}}</td>
                        <td class="txtCenter">{{ row.food_type == 'NA' ? '-' : row.food_type}}</td>
                    </tr>
                    <tr ng-repeat-end="rows in row">
                        <td ng-if="row.remarks" colspan="6">
                            Remarks : {{row.remarks}}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td id="spacer"></td>
                    </tr>
                </tfoot>
            </table>
        </td>
    </tr> 
</tbody>
</table>
<div id="footer" style="width: 100%;">
    <table width="100%">
        <tr>
            <td>
                <div>
                    <p ng-if="prescription_print.PID == 1" style="font-size: 15px;">Prescription ID  : <span class="lightColor">{{data2.pres_id}}</span></p>
                    <p ng-if="prescription_print.PIB == 1" style="font-size: 15px;">Issued by : <span class="lightColor">{{app.username}}</span></p>
                    <p ng-if="prescription_print.PIA == 1" style="font-size: 15px;">Issued at : <span class="lightColor">{{app.org_name}}</span></p>
                </div>
                <p style="font-size: 25px;"><b>* Next Visit : {{(data2.next_visit| date: "dd-MMMM-y") || "-" }}</b></p>
            </td>
            <td style="font-size: 25px;" align="right">
                <b>{{data2.consultant_name}}</b>
            </td>
        </tr>
    </table>
</div>