<form name="patientForm" class="form-horizontal form-validation" novalidate="">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-3 control-label">Name * </label>
                <div class="col-sm-2">
                    <select class="form-control" ng-model="data.PatPatient.patient_title_code" ng-options="titleCode.value as titleCode.label for titleCode in titleCodes | orderBy: label">
                    </select>
                </div>
                <div class="col-sm-4">
                    <input type="text" name="patient_firstname" ng-model="data.PatPatient.patient_firstname" class="form-control" placeholder="First Name" ng-minlength="3" focus-me="true" required>
                    <div style="color:maroon">
                        <div ng-show="submitted && patientForm.patient_firstname.$error.required">First Name cannot be blank.</div>
                        <div ng-show="submitted && patientForm.patient_firstname.$error.minlength">First Name is too short</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <input type="text" ng-model="data.PatPatient.patient_lastname" class="form-control" placeholder="Last Name" >
                </div>
            </div>
            <div class="line line-dashed b-b line-lg "></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Gender *</label>
                <div class="col-sm-9">
                    <label class="i-checks" ng-repeat="gender in genders">
                        <input type="radio" checked="" value="{{gender.value}}" name="patient_gender" ng-model="data.PatPatient.patient_gender" required>
                        <i></i>
                        {{gender.label}}&nbsp; &nbsp;
                    </label>
                    <div style="color:maroon">
                        <div ng-show="submitted && patientForm.patient_gender.$error.required">Gender cannot be blank.</div>
                    </div>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg "></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">DOB *</label>
                <div class="col-sm-5">
                    <div class="input-group">
                        <input type="text" name="dob" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="data.PatPatient.patient_dob" is-open="$parent.opened" datepicker-options="dateOptions" close-text="Close" max-date="maxDate" ng-change="setAgeEmpty();
                            getAge();" required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                    <div style="color:maroon">
                        <div ng-show="submitted && patientForm.dob.$error.required">DOB cannot be blank.</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <input type="text" ng-model="data.PatPatient.patient_age" class="form-control" placeholder="Age" only-digits="" onkeydown="" ng-change="setDateEmpty();
                            getDOB();">
                </div>
            </div>
            <div class="line line-dashed b-b line-lg "></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Mobile No * </label>
                <div class="col-sm-9">
                    <input type="text" ng-model="data.PatPatient.patient_mobile"  name="patient_mobile" class="form-control" placeholder="" number-mask="" required>
                    <div style="color:maroon">
                        <div ng-show="submitted && patientForm.patient_mobile.$error.required">Mobile No cannot be blank.</div>
                    </div>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg "></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Address </label>
                <div class="col-sm-9">
                    <textarea ng-model="data.PatPatientAddress.addr_current_address" class="form-control" placeholder="" ></textarea>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg "></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Place</label>
                <div class="col-sm-3">
                    <select class="form-control" name="Country" ng-model="data.PatPatientAddress.addr_country_id" ng-options="country.value as country.label for country in countries | orderBy: label" ng-change="updateState2();
                            data.PatPatientAddress.addr_state_id = '';
                            data.PatPatientAddress.addr_city_id = '';">
                        <option value="">Select Country</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" name="State" ng-model="data.PatPatientAddress.addr_state_id" ng-options="state.value as state.label for state in availableStates2 | orderBy: label" ng-change="updateCity2();
                            data.PatPatientAddress.addr_city_id = '';">
                        <option value="">Select State</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" name="City" ng-model="data.PatPatientAddress.addr_city_id" ng-options="city.value as city.label for city in availableCities2 | orderBy: label">
                        <option value="">Select City</option>
                    </select>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg "></div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">Billing</label>
                <div class="col-sm-9">
                    <label class="i-checks" ng-repeat="bill_type in bill_types">
                        <input type="radio" checked="" value="{{bill_type.value}}" name="b" ng-model="data.PatPatient.patient_bill_type">
                        <i></i>
                        {{bill_type.label}}&nbsp; &nbsp;
                    </label>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg "></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Blood Group</label>
                <div class="col-sm-9">
                    <select ng-model="data.PatPatient.patient_blood_group" class="form-control" ng-options="blood.value as blood.label for blood in bloods | orderBy: label">
                        <option value="">Select Blood Group</option>
                    </select>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg "></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Category</label>
                <div class="col-sm-9">
                    <select ng-model="data.PatPatient.patient_category_id" class="form-control" ng-options="category.patient_cat_id as category.patient_cat_name for category in categories | orderBy: patient_cat_name">
                        <option value="">Select Category</option>
                    </select>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg "></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Register Mode</label>
                <div class="col-sm-9">
                    <label class="i-checks" ng-repeat="mode in registerModes">
                        <input type="radio" checked="" value="{{mode.value}}" name="c" ng-model="data.PatPatient.patient_reg_mode">
                        <i></i>
                        {{mode.label}}&nbsp; &nbsp;
                    </label>
                </div>
            </div>

        </div>
        <footer class="panel-footer text-right bg-light lter">
            <button class="btn m-b-xs  btn-success save-btn" ng-click="submitted = true;
                saveForm('add')">Register</button> &nbsp;
            <!--        <button class="btn m-b-xs  btn-default"> Register & Book an appoinment</button>  &nbsp;-->
            <button class="btn m-b-xs  btn-dark"> <i class="fa fa-times"></i> Cancel</button>  &nbsp;
        </footer>
    </div>
</form>
