<div class="panel panel-default">
    <div class="panel-body">
        <p> <h4 ng-show="matchings.length == 0">  <i class="fa fa-exclamation-triangle"></i> No Matching Records!  </h4></p>     
        <p> <h4 ng-show="matchings.length > 0">  <i class="fa fa-exclamation-triangle"></i> One or more particulars matching to existing patient records!  </h4></p>     
        <div class="search-patientcont" ng-repeat="(key, patient) in matchings">
            <div class="row"> 
                <div class="col-xs-12 col-sm-2 col-md-2"> 
                    <img ng-if="$even" alt="" width="49" height="49" src="{{patient.Patient.patient_image ? patient.Patient.patient_image : 'img/man-icon.png'}}">
                    <img ng-if="$odd" alt="" width="49" height="49" src="{{patient.Patient.patient_image ? patient.Patient.patient_image : 'img/man-icon2.png'}}">
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5"> 
                    <div class="row"> 
                        <a ng-bind-html="patient.Patient.fullname | highlight:data.PatPatient.patient_firstname" ui-sref="patient.view({id: patient.Patient.patient_guid})">
                        </a> 
                        ({{patient.Patient.patient_age}}y) <br/>
                        {{patient.Patient.patient_int_code}} 
                        <p class="m-t" ng-if="patient.same_branch"> 
                            {{patient.PatientAddress.addr_current_address}} <br/> 
                            {{patient.PatientAddress.city_name}} {{patient.PatientAddress.addr_zip}} <br/> 
                            {{patient.PatientAddress.state_name}}</p>
                        <p class="m-t" ng-if="patient.same_branch == false">
                            <span> 
                                Organization: <b>{{patient.Patient.org_name}}</b> <br/> 
                                Branch: <b>{{patient.Patient.tenant_name}}</b> <br/> 
                            </span>
                        </p>  
                        <p>  
                            <span> 
                                <b>Contact No.s</b> <br/> 
                            </span>
                            <span ng-bind-html="patient.Patient.patient_mobile | highlight:data.PatPatient.patient_mobile"> 
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5" ng-if="patient.same_branch"> 
<!--                                        Last visited on <span> <b> 23-jan-2015 </b></span> <br/> 
                                        Consultation with <span> <b> Dr.Vikram </b> </span>-->
                    <p class="m-t-xxl "> 
                        <button class="btn m-b-xs w-xs btn-info" ng-show="patient.PatientActiveEncounter.hasOwnProperty('encounter_id') != true" ng-click="$state.go('patient.appointment', {'id': patient.Patient.patient_guid})">
                            BOOK
                        </button>
                        <span class="label label-primary admission_details" ng-show="patient.PatientActiveEncounter.liveAdmission.hasOwnProperty('admn_id') == true">
                            {{patient.PatientActiveEncounter.floor_name}} > {{patient.PatientActiveEncounter.room_name}} > {{patient.PatientActiveEncounter.room_type_name}}
                        </span>
                        <span class="label label-primary admission_details" ng-show="patient.PatientActiveEncounter.liveAppointmentBooking.hasOwnProperty('appt_id') == true">
                            Appointed
                        </span>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5" ng-if="patient.same_branch == false"> 
                    <p class=""> 
                        <button class="btn btn-primary" id="import_{{key}}" ng-click="importPatient(patient.Patient, key)">
                            IMPORT BASIC DATA
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>