<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <label class="col-sm-3 control-label">Encounter  </label>
            <div class="col-sm-9">
                {{data.encounter_id}}
            </div>
        </div>
        <div class="line line-dashed b-b line-lg "></div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Procedure Date * </label>
            <div class="col-sm-9">
                <div class="input-group w-md">
                    <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="data.proc_date" is-open="opened1" datepicker-options="dateOptions" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event, 'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="line line-dashed b-b line-lg "></div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Procedure *</label>
            <div class="col-lg-6">
                <select class="form-control" ng-model="data.charge_subcat_id" ng-options="procedure.charge_subcat_id as procedure.charge_subcat_name for procedure in procedures | orderBy: charge_subcat_name">
                    <option value="">Select Procedure</option>
                </select>
            </div>
        </div>
        <div class="line line-dashed b-b line-lg "></div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Consultants</label>
            <div class="col-lg-6">
                <ui-select multiple ng-model="data.consultant_ids" theme="bootstrap" ng-disabled="disabled">
                    <ui-select-match placeholder="Select doctor...">{{$item.name}} ({{$item.speciality_name}})</ui-select-match>
                    <ui-select-choices group-by="someGroupFn" repeat="doctor in doctors | propsFilter: {name: $select.search, age: $select.search}">
                        <div ng-bind-html="doctor.name | highlight: $select.search"></div>
                        <small>
                            Speciality: {{doctor.speciality_name}}
                        </small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="line line-dashed b-b line-lg "></div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Description</label>
            <div class="col-lg-6">
                <textarea class="form-control" ng-model="data.proc_description"></textarea>
            </div>
        </div>
    </div>
    <footer class="panel-footer text-right bg-light lter">
        <button class="btn m-b-xs  btn-success save-btn" ng-click="saveForm(data.formtype)">Save</button>
        &nbsp;
        <button class="btn m-b-xs  btn-dark" ng-click="$state.go('patient.procedure', {'id': data.patient_id})"><i class="fa fa-times"></i> Cancel</button>
        &nbsp;
    </footer>
</div>