<div ng-controller="ProcedureController" ng-init="initProcedureIndex()">

    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3">Procedures</h1>
    </div>
    <div class="wrapper-md tab-btn">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>
        <div class="row">
            
                <div class="col-sm-4"> 
                    <div class="btn-group btn-group-justified">
                        <b>Encounter Id: </b>
                        <br />
                        <ui-select ng-model="enc.selected" theme="bootstrap">
                            <ui-select-match placeholder="Select Encounter Id">{{$select.selected.encounter_id}}</ui-select-match>
                            <ui-select-choices repeat="item in encounters | filter: $select.search | orderBy: 'encounter_id' : true">
                                <div ng-bind-html="item.encounter_id | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <br />
                    </div>
                </div>
        </div>
    </div>
    <div class="wrapper-md">

        <div class="panel panel-default">
            <!--<div class="panel-heading">
              Responsive Table
            </div>-->
            <div class="row wrapper">
                <div class="col-sm-5 m-b-xs">
                    <button class="btn btn-sm btn-grey" ng-click="loadProceduresList(enc.selected)"> 
                        &nbsp; &nbsp; <i class="fa fa-repeat"></i> &nbsp; &nbsp; 
                    </button>
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-3 pull-right right">
                    <button ng-show="enc.selected.status == '1'" class="btn btn-info" ng-click="$state.go('patient.add_procedure', {id: $state.params.id, enc_id: enc.selected.encounter_id})"><i class="fa fa-plus"></i> Add Procedure </button>
                </div>
            </div>
            <div class="table-responsive in-patient-table">
                <table st-table="displayedCollection"  st-safe-src="rowCollection"  class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Date of Procedure </th>
                            <th>Procedure Name</th>
                            <th>Notes</th>
                            <th>Doctors Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody ng-hide="isLoading" ng-show="displayedCollection.length > 0">
                        <tr ng-repeat="row in displayedCollection">

                            <td align="center" valign="middle"></td>
                            <td> {{row.proc_date}} </td>
                            <td> {{row.procedure_name}} </td>
                            <td> {{row.proc_description}} </td>
                            <td> {{row.doctors}} </td>
                            <td>
                                <div ng-show="enc.selected.status == '1'">
                                    <a title="Edit" ui-sref="patient.edit_procedure({id: '$state.params.id', proc_id : row.proc_id})">
                                        <i class="fa fa-pencil"></i>
                                    </a>&nbsp;&nbsp;&nbsp;
                                    <a title="Delete" ng-click="removeRow(row.proc_id)">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="6" class="text-center"><i class="fa fa-spin fa-refresh"></i></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6" class="text-center">
                                <!--<div st-items-by-page="itemsByPage" st-pagination="" st-template="tpl/patient/pagination.custom.html"></div>-->
                                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
            <footer class="panel-footer">
                <!--<div st-pagination="" st-items-by-page="itemsByPage" st-template="pagination.custom.html" st-displayed-pages="7"></div>-->
            </footer>    
        </div>
    </div>
</div>