<div class="row">
    <div class="col-sm-12">
        <a check-access ui-sref="pharmacy.sales" class="btn btn-primary pull-right"> View List</a> <br /><br />
    </div>

    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading font-bold">Sale Details</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Patient Name</label>
                                    <div class="col-lg-8">
                                        <input autocomplete="off"
                                               placeholder="Patient Name"
                                               type="text"
                                               class="form-control"
                                               ng-model="data.patient_name"
                                               typeahead="patient as patient.name_with_int_code for patient in getPatients($viewValue) | filter:{name_with_int_code:$viewValue} | limitTo: 10"
                                               typeahead-on-select="formatPatient($item, $model, $label)"
                                               typeahead-wait-ms="400"
                                               />
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg "></div>

                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Consultant </label>
                                    <div class="col-lg-8">
                                        <select class="form-control selectpicker" data-live-search="true" ng-model="data.consultant_id" ng-options="doctor.user_id as doctor.fullname for doctor in doctors | orderBy: fullname" data-ng-change="changeGetConsultant()">
                                            <option value="">Select Consultant</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg "></div>

                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Encounter #</label>
                                    <div class="col-lg-8">
                                        <select class="form-control selectpicker" data-live-search="true" 
                                                ng-model="data.encounter_id" 
                                                ng-options="encounter.encounter_id as encounter.encounter_id for encounter in encounters | orderBy: encounter_id"
                                                ng-change="getPrescription()"
                                                >
                                            <option value="">Select Encounter</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group" ng-if="data.bill_no">
                                    <label class="col-lg-4 control-label">Bill No</label>
                                    <div class="col-lg-8">
                                        <label class="label bg-danger">{{data.bill_no}}</label>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg"  ng-if="data.bill_no"></div>

                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Sale Date *</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="data.sale_date" is-open="$parent.opened1" datepicker-options="dateOptions" close-text="Close"  min-date="minDate" ng-click="open($event, 'opened1')" ng-focus="open($event, 'opened1')" prevent-enter="true"/>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg "></div>

                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Payment Type *</label>
                                    <div class="col-lg-8 col-sm-9">
                                        <div class="input-group w-md">
                                            <label class="i-checks" ng-repeat="paymentType in paymentTypes">
                                                <input type="radio" checked="" value="{{paymentType.value}}" name="paymentType" ng-model="data.payment_type"  ng-change="changeGetPayType()">
                                                <i></i>
                                                {{paymentType.label}}&nbsp; &nbsp;
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Sale Items</b>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div style="{{css.style}}">
                            <table class="table table-bordered table-hover table-condensed bg-white-only">
                                <tr style="font-weight: bold">
                                    <td><span>Product Name</span></td>
                                    <td><span>Batch No</span></td>
                                    <td><span>Exp Date</span></td>
                                    <td><span>Qty</span></td>
                                    <td><span>Unit</span></td>
                                    <td><span>MRP</span></td>
                                    <td><span>Vat</span></td>
                                    <td><span>Vat Amt</span></td>
                                    <td><span>Total Amt</span></td>
                                    <td><span>Action</span></td>
                                </tr>
                                <tr ng-repeat="(key, saleitem) in saleItems">
                                    <td>
                                        <div id="i_full_name_{{key}}">
                                            <!--                                        <span editable-select="saleitem.full_name" e-form="tableform" onbeforesave="checkInput($data, key, $index)" e-ng-options="product as product.full_name for product in products | filter:$viewValue | limitTo:8" e-ng-change="updateProductRow($data, $model, $label, key)" data-e-id="full_name" e-name='full_name'>
                                                                                        {{ showBatch(saleitem) }}
                                                                                    </span>-->
                                            <span editable-text="saleitem.full_name" e-class="fullname" e-name="full_name" e-form="tableform" onbeforesave="checkInput($data, key, $index)" e-typeahead="product as product.full_name for product in products | filter:{full_name:$viewValue} | limitTo:8" e-typeahead-editable="false" e-typeahead-on-select="updateProductRow($item, $model, $label, key)" e-ng-keyup="getProduct(tableform)" e-ng-keydown="getProduct(tableform)" e-autocomplete="off" data-e-id="full_name" e-name='full_name'>
                                                {{ saleitem.full_name || 'empty' }}
                                            </span>
                                        </div>
                                        <span id="t_full_name_{{key}}" class="hide">
                                            {{ saleitem.full_name || 'empty' }}
                                        </span>
                                        <div class="custom-warning" style="" ng-show="saleitem.min_reorder_msg"> {{saleitem.min_reorder_msg}}</div>
                                    </td>
                                    <td>
                                        <div id="i_batch_details_{{key}}">
                                            <span editable-select="saleitem.batch_details" e-name="batch_details" e-form="tableform" onbeforesave="checkInput($data, key, $index)" e-ng-options="batch as batch.batch_details for batch in batches | filter:$viewValue | limitTo:8| filter:{product_id : saleitem.product_id}" e-ng-change="updateBatchRow($data, key, $index)">
                                                {{ showBatch(saleitem)}}
                                            </span>
                                            <!--                                        <span editable-text="saleitem.batch_details" e-name="batch_details" e-form="tableform" onbeforesave="checkInput($data, key, $index)" e-typeahead="batch as batch.batch_details for batch in batches | filter:$viewValue | limitTo:8| filter:{product_id : saleitem.product_id}" e-typeahead-editable="false" e-autocomplete="off" e-typeahead-on-select="updateBatchRow($item, $model, $label, key)">
                                                                                        {{ saleitem.batch_details || 'empty' }}
                                                                                    </span>-->
                                        </div>
                                        <div class="custom-warning" style="" ng-show="saleitem.exp_warning"> {{saleitem.exp_warning}}</div>
                                        <span id="t_batch_details_{{key}}" class="hide">
                                            {{ saleitem.batch_details || 'empty' }}
                                        </span>
                                    </td>
                                    <td>
                                        <span>
                                            {{ showExpiryDate(saleitem)}}
                                        </span>
                                    </td>
                                    <td>
                                        <span editable-text="saleitem.quantity" e-number-mask="" e-name="quantity" e-number-mask="" e-form="tableform" onbeforesave="checkInput($data, key, $index); checkAmount($data, key, $index)" e-ng-keydown="updateColumn($data, key, 'quantity')"  e-ng-keyup="updateColumn($data, key, 'quantity')" e-autocomplete="off" e-limit-to="7" data-e-id="quantity" e-select-on-click ng-click="addRowWhenFocus(key)">
                                            {{saleitem.quantity|| 0}}
                                        </span>
                                    </td>
                                    <td>
                                        <span>
                                            {{ saleitem.package_name || 'empty' }}
                                        </span>
                                    </td>
                                    <td>
                                        <span>
                                            {{saleitem.mrp|| 0}}
                                        </span>
                                    </td>
                                    <td>
                                        <span>
                                            {{saleitem.vat_percent}}
                                        </span>
                                    </td>
                                    <td>
                                        <span>
                                            {{saleitem.vat_amount}}
                                        </span>
                                    </td>
                                    <td><span>{{saleitem.item_amount}}</span></td>
                                    <td>
                                        <a ng-click="removeSaleItem($index)" title="Delete">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="btn-form">
                            <br>
                            <button type="button" ng-click="tableform.$show();
                                addRow(true)" class="btn btn-default pull-left btn-primary">Add Product</button>
                            <button id="edit_products" type="button" ng-show="!tableform.$visible;" ng-click="tableform.$show();" class="btn btn-default pull-left btn-info">Edit Products</button>
                        </div>
                    </div>
                </div>
            </div>    
        </div>    
    </div>

    <div class="col-sm-6"></div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-lg-5 control-label">Total Item Vat Amount</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control" ng-value="data.total_item_vat_amount" readonly="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-5 control-label">Total Item Sale Amount</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control" ng-value="data.total_item_sale_amount" readonly="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Disc %</label>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" ng-model="data.total_item_discount_percent" ng-change="updateSaleRate()" maxlength="5" number-mask="">
                    </div>
                    <div class="col-lg-7">
                        <input type="text" class="form-control" ng-value="data.total_item_discount_amount" readonly="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-5 control-label">Total Amount</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control" ng-value="data.total_item_amount" readonly="">
                    </div>
                </div>
                <div class="form-group hide">
                    <label class="col-lg-5 control-label">Welfare Amount</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control" ng-model="data.welfare_amount" ng-change="updateSaleRate()">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-5 control-label">Round Off</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control" ng-value="data.roundoff_amount" readonly="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-5 control-label">Bill Amount</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control" ng-value="data.bill_amount" readonly="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <footer class="panel-footer text-right bg-light lter">
        <button class="btn m-b-xs  btn-primary save-print-bill" id="save_print" ng-click="getBtnId('print')"> <i class="fa fa-print"></i> Save and Print Bill</button>
        &nbsp;
        <button class="btn m-b-xs  btn-success save-btn" id="save" ng-click="getBtnId('save')">Save</button>
        &nbsp;
        <button class="btn m-b-xs btn-dark" ng-click="$state.go('pharmacy.sales')"><i class="fa fa-times"></i> Cancel</button>
        &nbsp;
    </footer>
</div>



<!--Print Bill-->
<div id="Getprintval" style="display: none">
    <div class="invoice-details1">
        <table width="100%" border="0" align="right" cellpadding="0" cellspacing="0" class="purchase-list-tab purchase-list-tab2 ">
            <tr>
                <th align="left">Patient Name :  </th>
                <td align="left">{{data2.patient_name}}</td>
            </tr>
            <tr>
                <th align="left">Mobile No :  </th>
                <td align="left">{{data2.mobile_no}}</td>
            </tr>
            <tr>
                <th align="left">Consultant :  </th>
                <td align="left">{{consultant_name_taken}}</td>
            </tr>
            <tr>
                <th align="left">Encounter# :  </th>
                <td align="left">{{data2.encounter_id}}</td>
            </tr>
        </table>
    </div>
    <div class="invoice-details1 invoice-details2">
        <table width="100%" border="0" align="right" cellpadding="0" cellspacing="0" class="purchase-list-tab purchase-list-tab2 ">
            <tr>
                <th align="left">Bill num  :  </th>
                <td align="left">{{data2.bill_no}}</td>
            </tr>
            <tr>
                <th align="left">Sale Date  :  </th>
                <td align="left">{{data2.sale_date}}</td>
            </tr>
            <tr>
                <th align="left">Payment Type  :  </th>
                <td align="left">
                    {{ purchase_type_name}}
                </td>
            </tr>         
        </table>
    </div>
    <div class="clearfix"></div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="purchase-list-tab">
        <tr>
            <td><span>Product Name</span></td>
            <td><span>Batch No</span></td>
            <td><span>Exp Date</span></td>
            <td><span>Qty</span></td>
            <td><span>Unit</span></td>
            <td><span>MRP</span></td>
            <td><span>Vat</span></td>
            <td><span>Vat Amt</span></td>
            <td><span>Total Amt</span></td>
        </tr>
        <tr ng-repeat="(key, saleitem) in saleItems2">
            <td> {{ saleitem.full_name || 'empty' }}</td>
            <td> {{ saleitem.batch_details || 'empty' }}</td>
            <td> {{ showExpiryDate(saleitem)}}</td>
            <td> {{saleitem.quantity|| 0}}</td>
            <td> {{ saleitem.package_name || 'empty' }}</td>
            <td> {{saleitem.mrp|| 0}}</td>
            <td> {{saleitem.vat_percent}}</td>
            <td> {{saleitem.vat_amount}}</td>
            <td> {{saleitem.item_amount}}</td>
        </tr>      
    </table>
    <table width="300" border="0" align="right" cellpadding="0" cellspacing="0" class="purchase-list-tab purchase-list-tab2 ">
        <tr>
            <th align="right">Total Item Vat Amount : </th>
            <td>{{data2.total_item_vat_amount}}</td>
        </tr>
        <tr>
            <th align="right">Total Item Sale Amount : </th>
            <td>{{data2.total_item_sale_amount}}</td>
        </tr>
        <tr>
            <th align="right">Disc % : {{data2.total_item_discount_percent}} </th>
            <td>{{data2.total_item_discount_amount}}</td>
        </tr>
        <tr>
            <th align="right">Total Amount :  </th>
            <td>{{data2.total_item_amount}}</td>
        </tr>
        <tr>
            <th align="right">Welfare Amount :  </th>
            <td>{{data2.welfare_amount}}</td>
        </tr>
        <tr>
            <th align="right">Round Off :  </th>
            <td>{{data2.roundoff_amount}}</td>
        </tr>
        <tr>
            <th align="right">Bill Amount :  </th>
            <td>{{data2.bill_amount}}</td>
        </tr>
    </table>
</div>     


