<div>
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3">Make Payment </h1>
    </div>
    <div class="wrapper-md">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>
        <div class="row">
            <div class="col-sm-12" ng-init="data.status = '1';">
                <form name="makePaymentForm" class="form-horizontal form-validation" novalidate="">
                    <div class="modal-body wrapper-lg">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Name</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            {{patient_name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg "></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Bill Amount</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            {{bill_amount| number:2}}
                                        </div>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg "></div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Paid</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            {{paid| number:2}}
                                        </div>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg "></div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Balance</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            {{balance| number:2}}
                                        </div>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg "></div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Date *</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <input type="text" name="dob" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="data.paid_date" is-open="opened" datepicker-options="dateOptions" close-text="Close" max-date="maxDate" required/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg "></div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Paying Bills</label>
                                    <div class="col-sm-9">
                                        <table class="table table-condensed table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>&nbsp;</th>
                                                    <!--                                                    <th st-sort="bill_no">Bill No</th>
                                                                                                        <th st-sort="bill_amount">Bill Amount</th>-->
                                                    <th>Bill No</th>
                                                    <th>Bill Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="(gKey, saleitem) in saleitems | orderBy: saleitem">
                                                    <td>
                                                        <label class="i-checks "> 
                                                            <input type="checkbox" ng-checked="saleitem.checked" value="{{saleitem.billings_total_balance_amount}}" class="chk" ng-click="updatePaid()" data-bill="{{saleitem.sale_id}}" /> 
                                                            <i></i>
                                                        </label>
                                                    </td>
                                                    <td>{{saleitem.bill_no}}</td>
                                                    <td>{{saleitem.billings_total_balance_amount}}</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" class="text-right"><b>Total</b></td>
                                                    <td>{{paid_amount| number:2}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg "></div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Amount * </label>
                                    <div class="col-sm-9">
                                        <input type="text" ng-model="data.paid_amount" maxlength="50" class="form-control" placeholder="Amount" value="{{balance}}">
                                    </div>
                                </div>

                            </div>
                            <footer class="panel-footer text-right bg-light lter">
                                <button class="btn m-b-xs  btn-success save-btn" ng-click="saveForm()">Save</button>
                                &nbsp;
                                <button class="btn m-b-xs  btn-dark" ng-click="cancel()"><i class="fa fa-times"></i> Cancel</button>
                                &nbsp;
                            </footer>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

