<!-- main header -->
<div class="bg-light lter b-b wrapper-md">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <h1 class="m-n font-thin h3 text-black">Dashboard</h1>
        </div>
    </div>
</div>
<!-- / main header -->
<div class="wrapper-md ng-scope">
    <div ng-include="'tpl/blocks/alert.html'">
        {% include 'tpl/blocks/alert.html' %}
    </div>
    <div ng-controller="MyworksController" class="ng-scope" ng-init="loadData()">
        <!--        <button ng-click="openPdf()">Open Pdf</button>
                <button ng-click="downloadPdf()">Download Pdf</button>-->
        <button ng-click="printPdf()">Print Pdf</button>
        <h4 class="text-center">Hi {{app.username}}, Welcome to {{app.name}} ({{app.org_name}}) !!!</h4>
        
        <input type="button" id="sendData" value="send data" ng-click="treeSubmit()"/>
        <div id="pk-family-tree"></div>
        <script>
                    var pkFamily = null;
                    setTimeout(function () {
                        var initFamily = $('[ng-controller="MyworksController"]').scope().initFamily;
                        var family = $('[ng-controller="MyworksController"]').scope().family;
                        pkFamily = $('#pk-family-tree').pk_family({
                            referenceVar: 'pkFamily', 
                            family: family, 
                            initFamily: initFamily, 
                        });
                    }, 2000);
        </script>
    </div>
</div>

