<div ng-controller="EncounterController">

    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3"> Encounters</h1>
    </div>
    <!--    <div class="wrapper-md tab-btn">
            <div class="row">
                <div class="col-sm-4"> 
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-info" ng-click="loadPatientEncounters('Current')">
                            <i class="fa fa-list-alt"></i>  Current Encounter
                        </a>
                        <a class="btn btn-success" ng-click="loadPatientEncounters('Previous')">  <i class="fa fa-history"></i>
                            Previous Encounter</a>
                    </div>
                </div>
            </div>
        </div>-->
    <div class="wrapper-md" ng-init="loadPatientEncounters('Current');
                    loadPatientDetail()">
        <div class="panel panel-default">
            <!--<div class="panel-heading">
              Responsive Table
            </div>-->
            <div class="row wrapper">
                <div class="col-sm-5 m-b-xs">
                    <button class="btn btn-sm btn-grey" ng-show="encounterView == 'Current'" ng-click="loadPatientEncounters('Current');"> &nbsp; &nbsp; <i class="fa fa-repeat"></i>  &nbsp; &nbsp; </button>    
                    <button class="btn btn-sm btn-grey" ng-show="encounterView == 'Previous'" ng-click="loadPatientEncounters('Previous');"> &nbsp; &nbsp; <i class="fa fa-repeat"></i>  &nbsp; &nbsp; </button>    
                    &nbsp; &nbsp
                    <div ng-if="more_li.length > 0 && (key + 1) <= more_max" ng-repeat="(key, li) in more_li" class="btn-group">
                        <button ng-if="li.mode == 'sref'" ui-sref="{{li.href}}" class="btn btn-sm btn-grey"> {{li.name}}</button>    
                        <button ng-if="li.mode == 'click'" ng-click="{{li.href}}" class="btn btn-sm btn-grey"> {{li.name}}</button>    &nbsp; &nbsp
                    </div>
                    
                    <button ng-if="activeEncounter == null" ng-click="$state.go('patient.modifyCaseSheetNo', {id: $state.params.id})" class="btn btn-sm btn-grey">
                        Modify Case Sheet No
                    </button>
                    
                    
                    <div class="btn-group" dropdown is-open="status.isopen" ng-if="more_li.length > more_max">
                        <button type="button" class=" btn btn-sm btn-grey" dropdown-toggle ng-disabled="disabled">
                            More &nbsp;&nbsp;<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-if="(key + 1) > more_max" ng-repeat="(key, li) in more_li">
                                <a ng-if="li.mode == 'sref'" ui-sref="{{li.href}}">{{li.name}}</a>
                                <a ng-if="li.mode == 'click'" ng-click="{{li.href}}">{{li.name}}</a>
                            </li>
                        </ul>
                    </div>        
                </div>
                <div class="col-sm-3">
                </div>
                <div class="col-sm-4 pull-right right">
                    <button ng-if="activeEncounter == null" ng-click="$state.go('patient.admission', {id: $state.params.id})" class="btn btn-info"><i class="fa fa-plus"></i> New Admission </button>
                    <button ng-if="activeEncounter == null" ng-click="$state.go('patient.appointment', {id: $state.params.id})" class="btn btn-primary"><i class="fa fa-plus"></i> New Appointment </button>
                    <!--<button class="btn btn-default"><i class="fa fa-print"></i> Print</button>-->
                </div>
            </div>
            <div class="table-responsive in-patient-table">
                <script type="text/ng-template" id="myModalContent.html">
                    <div ng-include="'tpl/inpatient.edit.html'"></div>
                </script>
                <table st-table="displayedCollection"  st-safe-src="rowCollection"  class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th>
                                <button class="btn btn-sm btn-default" type="button" ng-click="ctrl.expandAll(allExpanded = !allExpanded)">
                                    <i ng-if="!allExpanded" class="fa fa-plus text"></i>
                                    <i ng-if="allExpanded" class="fa fa-minus text"></i>
                                </button>
                            </th>
                            <th>Encounter Id </th>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Details</th>
                            <th>DoctorsName</th>
                        </tr>
                    </thead>
                    <tbody ng-hide="isLoading">
                        <tr ng-repeat-start="encounter in displayedCollection" ng-init="expanded = (encounter.status == 1) ? true : false;">
                            <td>
                                <button ng-click="expanded = !expanded" expand class="btn btn-sm btn-default">
                                    <i ng-if="!expanded" class="fa fa-plus text"></i>
                                    <i ng-if="expanded" class="fa fa-minus text"></i>
                                </button>
                            </td>
                            <td colspan="5">
                               <!--<b> Encounter: {{encounter.$key}};</b>-->
                               <b> 
                                   Encounter: {{encounter.encounter_id}}; 
                                   Type: {{encounter.encounter_type}};
                                   Doctor: {{encounter.doctor}}
                               </b>
                            </td>

                        </tr>
                        <tr ng-repeat-end ng-show="expanded" ng-repeat="(key, item) in encounter.all | orderBy: 'id'">
                            <td class="text-center" align="center" valign="middle">
                                <label ng-show="item.status == 1" class="i-checks m-b-none"><input id="enc_{{item.encounter_id}}{{key}}" class="enc_chk" type="checkbox" name="b[]" ng-click="moreOptions(key, item.encounter_id, item.encounter_type)"><i></i></label>
                            </td>
                            <td> {{item.encounter_id}} </td>
                            <td> {{item.date | moment:'YYYY-MM-DD hh:mm A'}}</td>
                            <td> {{item.type}} </td>
                            <td> {{item.details}} </td>
                            <td> {{item.doctor}} </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="6" class="text-center"><i class="fa fa-spin fa-refresh"></i></td>
                        </tr>
                    </tbody>
<!--                    <tfoot>
                        <tr>
                            <td colspan="6" class="text-center">
                                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                    </tfoot>-->
                </table>

            </div>
            <footer class="panel-footer">
                <!--<div st-pagination="" st-items-by-page="itemsByPage" st-template="pagination.custom.html" st-displayed-pages="7"></div>-->
            </footer>    
        </div>
    </div>
</div>