<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Drug Class & Generic Names</h1>
</div>
<div class="wrapper-md" ng-controller="PurchaseController" ng-init="loadpurchaseitem()">
    <div ng-include="'tpl/blocks/alert.html'">
        {% include 'tpl/blocks/alert.html' %}
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <button class="btn btn-sm btn-grey" ng-click="loadpurchaseitem()"> 
                &nbsp; &nbsp; <i class="fa fa-repeat"></i> &nbsp; &nbsp; 
            </button>
            <button check-access-button ng-click="$state.go('pharmacy.PurchaseCreate')" class="btn btn-sm btn-info pull-right">
                <i class="fa fa-plus"></i> &nbsp; Add new Drug Class & Generic
            </button>
        </div>
        <table st-table="displayedCollection"  st-safe-src="rowCollection" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width: 5%">
                        <button class="btn btn-sm btn-default" type="button" ng-click="ctrl.expandAll(allExpanded = !allExpanded)">
                            <i ng-if="!allExpanded" class="fa fa-plus text"></i>
                            <i ng-if="allExpanded" class="fa fa-minus text"></i>
                        </button>
                    </th>
                    <th st-sort="drug_name">Drug Class name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="(key, row) in displayedCollection | orderBy: drug_name">
                    <td style="width: 5%">
                        <button ng-click="expanded = !expanded" expand class="btn btn-sm btn-default">
                            <i ng-if="!expanded" class="fa fa-plus text"></i>
                            <i ng-if="expanded" class="fa fa-minus text"></i>
                        </button>
                    </td>
                    <td>
                        {{row.drug_name}}
                    </td>
                </tr>
                <tr ng-repeat-end ng-show="expanded">
                    <td></td>
                    <td>
                        <table class="table table-condensed table-bordered">
                            <thead>
                                <tr>
                                    <th style='width: 70%'>Generic Names</th>
                                    <th style='width: 30%'>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(gKey, purchaseitem) in row.purchaseitems | orderBy: purchaseitem">
                                    <td>
                                        <span editable-select="purchaseitem.product_name" e-name="product_name" e-form="rowform" onbeforesave="checkInput($data)" e-ng-options="s.value as s.text for s in generics">
                                            {{ showGeneric(purchaseitem.product_name) }}
                                        </span>
                                    </td>
                                    <td>
                                        <form editable-form name="rowform" onbeforesave="updateName($data, row.drug_class_id, key, gKey)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == purchaseitem">
                                            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-success">
                                                Save
                                            </button>
                                            &nbsp;&nbsp;
                                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-sm btn-dark">
                                                Cancel
                                            </button>
                                        </form>
                                        <div class="buttons" ng-show="!rowform.$visible">
                                            <!--<button class="btn btn-sm btn-info" ng-click="rowform.$show()">Edit</button>-->
                                            &nbsp;&nbsp;
                                            <button class="btn btn-sm btn-danger" ng-click="deleteSubRow(row.drug_class_id, purchaseitem.product_name, purchaseitem.temp_drug_class_id);">Delete</button>
                                        </div> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>                            
                        <div class="btn-form">
                            <button type="button" ng-click="rowform.$show();
                                            addSubRow(row.drug_class_id)" class="btn btn-default pull-left btn-primary">Add Row</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
