<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n h3">Organization Details</h1>
</div>

<div class="wrapper-md" ng-controller="OrganizationController" ng-init="loadRoomList()">
  <div class="panel panel-default">
    <div class="row wrapper">
      <div class="col-sm-8 m-b-xs">
        <button class="btn btn-sm btn-grey" ng-click="loadRoomList()"> &nbsp; &nbsp; <i class="fa fa-repeat"></i> &nbsp; &nbsp; </button>
        &nbsp; &nbsp;
        <span ng-show="roomSelected > 0">
          <button class="btn btn-sm btn-grey" ng-click="editMultipleRooms()"><i class="fa fa-pencil"></i> &nbsp; Edit</button> &nbsp; &nbsp;
          <button class="btn btn-sm btn-grey" ng-click="deleteMultipleRooms()"><i class="fa fa-trash"></i> &nbsp; Delete</button>
        </span>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-2 pull-right">
        <button class=" btn btn-sm btn-info pull-right" ng-click="$state.go('app.createRoom')"><i class="fa fa-plus"></i> &nbsp; New Room</button>
      </div>
    </div>
    <div class="wrapper table-responsive" ng-show="errorData">
      <div ng-repeat="error in errorData.errors" class="text-danger">
        <i class="fa fa-warning"></i> {{error.longMessage}}
      </div>
    </div>
    <div class="wrapper table-responsive" ng-show="!errorData">
      <table ng-table="tableParams" class="table table-striped b-t b-light">
        <tr ng-repeat="room in $data track by room.oid">
          <td class="text-left" header="'ng-table/headers/checkbox.html'">
            <label class="i-checks "> <input type="checkbox" ng-model="checkboxes.items[room.oid]" /> <i></i> </label>
          </td>
          <td data-title="'Ward Name'" class="text-left" sortable="'wardName'">
            {{room.wardName}}
          </td>
          <td data-title="'BED Name'" class="text-left" sortable="'bedName'">
            {{room.bedName}}
          </td>
          <td data-title="'Occupancy Status'" class="text-left" sortable="'occupancyStatus'">
            {{room.occupancyStatus}}
          </td>
          <td data-title="'Maintenance Status'" class="text-left" sortable="'maintenanceName'">
            {{room.maintenanceName}}
          </td>
          <td data-title="'Status'" class="text-left" sortable="'status'">
            <label class="i-checks "> <input type="checkbox" disabled ng-true-value="'ACT'" ng-false-value="'INACT'" name="status" ng-model="room.status"> <i></i> </label>
          </td>
          <td class="text-right">
            <a ui-sref="app.editRoom({oid:room.oid})"> <i tooltip="Modify" tooltip-trigger tooltip-animation="false" tooltip-placement="bottom" class="fa fa-pencil"></i> </a>&nbsp;&nbsp;&nbsp; <a ng-click="deleteRoom(room.oid, room.name)"> <i tooltip="Delete" tooltip-trigger tooltip-animation="false" tooltip-placement="bottom" class="fa fa-trash"></i> </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>