<div ng-controller="PrinttemplateController">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <div class="col">
            <div class="wrapper-md p-b prescription-new">
                <div class="row">
                    <div class="col-sm-12" ng-init="loadData(); tab = 1">
                        <div class="tab-container">
                            <ul class="nav nav-tabs">
                                <li ng-class="{active:tab == 1}">
                                    <a href ng-click="loadData(); tab = 1">
                                        <tab-heading > 
                                            <i class="fa fa-list-alt" aria-hidden="true"></i> Sale Bill
                                        </tab-heading>
                                    </a>
                                </li>
                                <li ng-class="{active:tab == 2}">
                                    <a href ng-click="tab = 2">
                                        <tab-heading > 
                                            <i class="fa fa-list-alt" aria-hidden="true"></i> 
                                            OP Bill
                                        </tab-heading>
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div ng-show="tab == 1">
                                    <div ng-include="'tpl/blocks/alert.html'">
                                        {% include 'tpl/blocks/alert.html' %}
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <form name="roleForm" class="form-horizontal form-validation" novalidate="">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Show header</label>
                                                            <div class="col-sm-9">
                                                                <label class="i-checks "> 
                                                                    <input type="checkbox" name="header" ng-true-value="'1'" ng-false-value="'0'" ng-model="saleBillData.header"> 
                                                                    <i></i> 
                                                                </label> &nbsp; &nbsp;
                                                            </div>
                                                        </div>
                                                        <div class="line line-dashed b-b line-lg "></div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Show Footer</label>
                                                            <div class="col-sm-9">
                                                                <label class="i-checks "> 
                                                                    <input type="checkbox" name="footer" ng-true-value="'1'" ng-false-value="'0'" ng-model="saleBillData.footer"> 
                                                                    <i></i> 
                                                                </label> &nbsp; &nbsp;
                                                            </div>
                                                        </div>
                                                        <div class="line line-dashed b-b line-lg "></div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Show Logo</label>
                                                            <div class="col-sm-9">
                                                                <label class="i-checks "> 
                                                                    <input type="checkbox" name="logo" ng-true-value="'1'" ng-false-value="'0'" ng-model="saleBillData.logo"> 
                                                                    <i></i> 
                                                                </label> &nbsp; &nbsp;
                                                            </div>
                                                        </div>
                                                        <div class="line line-dashed b-b line-lg "></div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Show Dl No</label>
                                                            <div class="col-sm-9">
                                                                <label class="i-checks ">
                                                                    <input type="checkbox" name="dl_nos" ng-true-value="'1'" ng-false-value="'0'" ng-model="saleBillData.dl_nos"> 
                                                                    <i></i> 
                                                                </label> &nbsp; &nbsp;
                                                            </div>
                                                        </div>
                                                        <div class="line line-dashed b-b line-lg "></div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Dl No</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" maxlength="50" name="roleName" class="form-control" placeholder="Dl No" ng-model="saleBillData.dl_no_text">
                                                            </div>
                                                        </div>
                                                        <div class="line line-dashed b-b line-lg "></div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Show GST No</label>
                                                            <div class="col-sm-9">
                                                                <label class="i-checks ">
                                                                    <input type="checkbox" name="gst_no" ng-true-value="'1'" ng-false-value="'0'" ng-model="saleBillData.gst_no"> 
                                                                    <i></i> 
                                                                </label> &nbsp; &nbsp;
                                                            </div>
                                                        </div>
                                                        <div class="line line-dashed b-b line-lg "></div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">GST No</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" maxlength="50" name="roleName" class="form-control" placeholder="GST No" ng-model="saleBillData.gst_no_text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <footer class="panel-footer text-right bg-light lter">
                                                        <button class="btn m-b-xs  btn-success save-btn" ng-click="saveSaleBill()">Save</button>
                                                        &nbsp;
                                                        <button class="btn m-b-xs  btn-dark" ng-click="$state.go('configuration.roles')"><i class="fa fa-times"></i> Cancel</button>
                                                        &nbsp;
                                                    </footer>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="tab == 2">
                                    <div ng-include="'tpl/blocks/alert.html'">
                                        {% include 'tpl/blocks/alert.html' %}
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            Coming Soon
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>