<div ng-controller="OrganizationController" ng-init="initSettings()">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3">Change Elapsed Time</h1>
    </div>
    <div class="wrapper-md">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>
        <div class="row">
            <div class="col-sm-6">
                <form name="changeElapsedTimeForm" class="form-horizontal form-validation" novalidate="">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Elapsed Time * </label>
                                <div class="col-sm-5">
                                    <input type="hidden" ng-model="data.config_id">
                                    <input ui-jq="TouchSpin" ng-model="data.value" placeholder="Elapsed Time" type="text" value="10" class="form-control" data-min='1' data-max="12" data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up"  data-verticaldownclass="fa fa-caret-down">
                                </div>
                                <div class="col-sm-3">
                                    <div class="row">Hours</div>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg "></div>
                        </div>
                        <footer class="panel-footer text-right bg-light lter">
                            <button class="btn m-b-xs  btn-success save-btn" ng-click="saveSetting()">Edit</button>
                        </footer>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
