<div ng-controller="FutureAppointmentCalenderController" ng-init="loadEvents()">
    <div class="wrapper-md bg-light b-b">
        <h1 class="m-n font-thin h3">Future Appointments</h1>
    </div>

    <div class="wrapper-md tab-btn">
        <div class="row">
            <div class="col-sm-4"> 
                <div class="btn-group btn-group-justified">
                    <a class="btn btn-info" ui-sref="patient.outPatients">
                        <i class="fa fa-money"></i>  Current Out-Patients
                    </a>
                    <a class="btn btn-success" ui-sref="patient.futureAppointment">  
                        <i class="fa fa-list-alt"></i>
                        Future Appointments
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <div class="col wrapper-md">
            <div class="clearfix m-b">
                <!--                <button type="button" tooltip="Double click on calendar day to create event" class="btn btn-sm btn-primary btn-addon" ng-click="add_appointment()">
                                    <i class="fa fa-plus"></i>Add
                                </button>-->
                <div class="pull-right">
                    <button type="button" class="btn btn-sm btn-default" ng-click="today()">today</button>
                    <div class="btn-group m-l-xs">
                        <button class="btn btn-sm btn-default" ng-click="changeView('agendaDay')">Day</button>
                        <button class="btn btn-sm btn-default" ng-click="changeView('agendaWeek')">Week</button>
                        <button class="btn btn-sm btn-default" ng-click="changeView('month')">Month</button>
                    </div>
                </div>
            </div>
            <div class="pos-rlt">
                <div class="fc-overlay">
                    <div class="panel bg-white b-a pos-rlt">
                        <span class="arrow"></span>
                        <div class="h4 font-thin m-b-sm">{{event.title}}</div>
                        <div class="line b-b b-light"></div>
                        <div><i class="icon-calendar text-muted m-r-xs"></i> {{event.start| date:'medium'}}</div>
                        <div class="ng-hide" ng-show='event.end'><i class="icon-clock text-muted m-r-xs"></i> {{event.end| date:'medium'}}</div>
                        <div class="ng-hide" ng-show='event.location'><i class="icon-pointer text-muted m-r-xs"></i> {{event.location}}</div>
                        <div class="m-t-sm">{{event.info}}</div>
                        <div class="m-t-sm">{{event.url}}</div>
                    </div>
                </div>
                <div class="calendar" ng-model="eventSources" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
            </div>
        </div>

        <div class="col w-md w-auto-xs bg-light dk bg-auto b-l">
            <div class="wrapper">
                <div ng-repeat="consultant in consultants" class="bg-white-only r r-2x m-b-xs wrapper-sm {{consultant.className[0]}}">      
                    {{consultant.title}} - {{consultant.visit_count}}
                    <input id="{{consultant.id}}" type="checkbox" class="pull-right" ng-model="showhideevents" ng-checked="true" ng-click="showHideEvents(consultant, showhideevents)"/>
                </div>
            </div>
        </div>
    </div>
</div>