<div class="patient-panel" ng-init="loadPatientDetail()">

    <div class="patient-row1">
        <div class="col-md-1"> 
            <img src="img/patient-img.png"  alt="" />
        </div>
        <div class="col-md-11 paitent-details2"> 
            <b>
                <a ng-click="$state.go('patient.view', {id: app.patientDetail.patientGuid})">
                    {{app.patientDetail.patientFullname}}
                </a>
            </b>
            <span ng-if="app.patientDetail.patientActiveCasesheetno">({{app.patientDetail.patientActiveCasesheetno}})</span>     
            <!--<span ng-if="app.patientDetail.patientActiveIp">({{app.patientDetail.patientActiveCasesheetno}})</span>-->     
            
            <span ng-show="app.patientDetail.patientActiveIp">
                <i class="fa fa-calendar"></i>  
                <b> DOA: </b> <span> {{app.patientDetail.patientDOA}}</span>  
            </span>  
            
            <i class="fa fa-venus-mars"></i> 
            <b> Sex : </b> 
            <span>{{app.patientDetail.patientSex}} ({{app.patientDetail.patientAge}}y)</span>  
            
            <i class="fa fa-phone"></i> <b> Phone : </b> 9443444567
        </div>
    </div>

    <div class="headerbg2">  
        <div class="patient-details-part patinet-id"> 
            <b> Patient Id : </b> {{app.patientDetail.patientIntCode}}
        </div>
        
        <div class="patient-details-part">  
            <i class="fa fa-wheelchair"></i> <b> Ward : </b> {{app.patientDetail.patientCurrentRoom}}
        </div>
        
        <div class="patient-details-part">  
            <i class="fa fa-user-md"></i> {{app.patientDetail.patientLastConsultantName}}
        </div>
        
        <div class="patient-details-part">  
            <i class="fa fa-hospital-o"></i> <b> Org :  </b> {{app.patientDetail.patientOrg}} 
        </div>
        
        <div class="patient-details-part b-n">  
            <div class="category_badge header-badge" tooltip="Business Free" tooltip-trigger tooltip-animation="false" tooltip-placement="bottom"> 
                BF
            </div>
        </div>
        
        <div class="patient-details-part b-n" ng-show="app.patientDetail.patientHasAlert">  
            <div class="alert_badge header-badge" tooltip="{{app.patientDetail.patientAlert}}" tooltip-trigger tooltip-animation="false" tooltip-placement="bottom">
                <i class="fa fa-warning"></i>
            </div> 
        </div>
    </div>
</div>