<!-- header -->
<header id="header" class="app-header navbar" role="menu"> 
    <!-- navbar header -->
    <div class="visible-xs navbar-header {{app.settings.navbarHeaderColor}}">
        <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
            <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll-to="app">
            <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <a href="#/" class="navbar-brand text-lt"> 
            <span class="hidden-folded m-l-xs">{{app.name}}</span>
        </a> 
    </div>
    <!-- / navbar header --> 

    <!-- navbar collapse -->
    <div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}"> 

        <!-- search form -->
        <form class="navbar-form navbar-form-sm navbar-left shift" ui-shift="prependTo" data-target=".navbar-collapse" role="search" ng-controller="PatientSearchController">
            <div class="form-group">
                <div class="input-group">
                    <!--<input type="text" ng-model="patientselected" typeahead="patient_list.Patient.patient_firstname for patient_list in patient_lists | filter:$viewValue | limitTo:8" class="form-control input-sm bg-light no-border rounded padder" placeholder="Search....">-->
                    <input type="text" ng-model="patientselected" class="form-control input-sm bg-light no-border rounded padder" placeholder="Search....">
                    <ul class="search-patientcont" ng-if="patientselected != ''">
                        <li ng-repeat="patient_list in patient_lists">
                            <div class="row"> 
                                <div class="col-xs-12 col-sm-2 col-md-2"> <img alt="" src="img/man-icon.png"></div>
                                <div class="col-xs-12 col-sm-5 col-md-6"> 
                                    <div class="row ng-binding"> 
                                        <a href="#" class="ng-binding">Mr. Prakah</a> <b>(25y) </b><br>
                                        <span class="pull-left">AH12345</span> 
                                        <span> &nbsp; &nbsp; 9698566651</span> 
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-4 pull-right right"> 
                                    <button class="btn m-b-xs w-xs btn-info">BOOK</button>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row"> 
                                <div class="col-xs-12 col-sm-12 col-md-12 pull-right right">  
                                    <button class="btn m-b-xs w-xs btn-success fullwidth" ng-click="goToRegistration()">Register</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
                    </span> 
                </div>
            </div>
        </form>
        <!-- / search form --> 

        <div class="navbar-header">
            <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
                <i class="glyphicon glyphicon-cog"></i>
            </button>
            <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll-to="app">
                <i class="glyphicon glyphicon-align-justify"></i>
            </button>
            <a href="#/" class="navbar-brand text-lt">
                <span class="hidden-folded m-l-xs">{{app.name}}</span>
            </a>
        </div>

        <!-- link and dropdown -->
        <ul class="nav navbar-nav hidden-sm">
            <li><a href="#"> My Works </a></li>
            <li ui-sref-active="active">
                <a ui-sref="patient.inPatients" href="#/patient/inPatients"> In-Patient </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="patient.outPatients" href="#/patient/outPatients"> Out-Patients </a>
            </li>
            <li ui-sref-active="active">
                <a href="#">Pharmacy </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="configuration.organization" href="#">Configuration</a>
            </li>
        </ul>
        <!-- / link and dropdown --> 

        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right">
            <li class="hidden-xs"> <a class="sb-toggle-right" href="#"> <i class="fa fa-bars"></i> </a> </li>
        </ul>
        <!-- / navbar right --> 
    </div>
    <!-- / navbar collapse --> 
</header>
<!-- / header -->

<script>
    (function ($) {
        $(document).ready(function () {
            $.slidebars({
                scrollLock: true
            });
        });
    })(jQuery);
</script>

<!--<script type="text/ng-template" id="searchbox">
   <a tabindex="-1" ui-sref="patient.encounter({id: 1})">
      <i ng-class="'icon-'+match.model.type"></i>match.model
      <span  ng-bind-html-unsafe="match.model.title | typeaheadHighlight:query"></span>
   </a>
</script>-->