<!-- list -->
<ul class="nav">
    <li ng-repeat="menu in navigationMenu"> 
        <a href class="auto"> 
            <span class="pull-right text-muted"> 
                <i class="fa fa-fw fa-angle-right text"></i> 
                <i class="fa fa-fw fa-angle-down text-active"></i> 
            </span> 
            <i class="fa fa-hospital-o icon text-info-lter"></i> 
            <span class="font-bold"> {{menu.label}} </span> 
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active" ng-repeat="child in menu.children"> 
                <a ui-sref="{{child.url}}"> <span>{{child.label}}</span> </a> 
            </li>
        </ul>
    </li>
</ul>


<!--<ul class="nav">
    <li> <a href class="auto"> <span class="pull-right text-muted"> <i class="fa fa-fw fa-angle-right text"></i> <i class="fa fa-fw fa-angle-down text-active"></i> </span> <i class="fa fa-hospital-o icon text-info-lter"></i> <span class="font-bold"> Organization Module</span> </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active"> <a ui-sref="configuration.organization"> <span>Organization</span> </a> </li>
            <li ui-sref-active="active"> <a ui-sref="configuration.organizationModule"> <span>Organization Module</span> </a> </li>
            <li ui-sref-active="active"> <a ui-sref="configuration.roles"> <span> Roles </span> </a> </li>
            <li ui-sref-active="active"> <a ui-sref="configuration.roleRights"> <span> Role Rights </span> </a> </li>
            <li ui-sref-active="active"> <a ui-sref="configuration.userRoles"><span> User roles</span></a></li>
            <li ui-sref-active="active"> <a ui-sref="configuration.specialities"><span> Specialities </span></a></li>
            <li ui-sref-active="active"><a ui-sref="configuration.registration"><span> User Registration</span></a></li>
            <li ui-sref-active="active"><a href="#"><span> </span></a></li>
            <li ui-sref-active="active"><a ui-sref="configuration.floors"><span> Floors</span></a></li>
            <li ui-sref-active="active"><a ui-sref="configuration.wards"><span> Wards</span></a></li>
            <li ui-sref-active="active"><a ui-sref="configuration.roomMaintenance"><span> Room Maintenance</span></a></li>
            <li ui-sref-active="active"><a ui-sref="configuration.roomChargeCategory"><span> Room Charge Category</span></a></li>
            <li ui-sref-active="active"><a ui-sref="configuration.roomChargeCategoryItem"><span> Room Charge Category Item</span></a></li>
            <li ui-sref-active="active"><a ui-sref="configuration.roomType"><span> Room Types </span></a></li>
            <li ui-sref-active="active"><a ui-sref="configuration.room"><span> Room </span></a></li>
            <li ui-sref-active="active"><a ui-sref="configuration.roomCharge"><span> Room Charge</span></a></li>
            <li ui-sref-active="active"><a ui-sref="configuration.roomTypeRoom"><span> Room Type and Room </span></a></li>
            <li ui-sref-active="active"><a ui-sref="configuration.countries"><span> Master Country </span></a></li>
            <li ui-sref-active="active"><a ui-sref="configuration.states"><span> Master State</span></a></li>
            <li ui-sref-active="active"><a ui-sref="configuration.cities"><span> Master City</span></a></li>
            <li ui-sref-active="active"><a ui-sref="configuration.alerts"><span> Alerts</span></a></li>
            <li ui-sref-active="active"><a ui-sref="configuration.patientCategories"><span> Patient Category</span></a></li>
        </ul>
    </li>
</ul>-->