<div class="row">
    <div class="col-sm-12" ng-init="loadPatientDetail()">
        <form name="formValidate" class="form-horizontal form-validation">
            <div class="panel panel-default patient-panel">
                <div class="panel-body">                    
                    <div class="row"> 
                        <div class="col-xs-12 col-sm-1 col-md-1"> <img src="img/patient-img.png"  alt="" /></div>
                        <div class="col-xs-4 col-sm-4 col-md-3"> 
                            <a ng-click="$state.go('patient.view', {id: app.patientDetail.patientId})">
                            <!--<a ui-sref="patient.view({id: '{{app.patientDetail.patientId}}'})">-->
                                {{app.patientDetail.patientTitleCode}} 
                                {{app.patientDetail.patientName}} 
                            </a> 
                            ({{app.patientDetail.patientAge}}y) 
                            <br/>
                            <span> {{app.patientDetail.patientIntCode}}  </span>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2"> 
                            {{app.patientDetail.patientSex}}
<!--                            <br />
                            <span ng-if="app.patientDetail.patientHasAlert">
                            <img  class="pull-left" src="img/symbol1.png"  alt="" />&nbsp;{{app.patientDetail.patientAlert}}
                            </span>-->
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2"> 
                            DOA: {{app.patientDetail.patientDOA}}
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3"> 
                            Org: {{app.patientDetail.patientOrg}}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
