<div ng-controller="AlertsController" ng-init="loadAlertsList()">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3">Alerts</h1>
    </div>
    <div class="wrapper-md p-b">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>
        <div class="panel panel-default m-b"  ng-init="data.formtype = 'add';
                        initForm();
                        data.status = '1'">
            <form name="alertForm" class="form-horizontal form-validation" novalidate="">
                <div class="panel-heading font-bold"> <i class="fa fa-medkit"></i> Patient Alert Details</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <label> Alert Type  </label>
                            <select class="form-control" ng-model="data.alert_id" ng-options="alert.alert_id as alert.alert_name for alert in alerts | orderBy: alert_name">
                                <option value="">Select Alert</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label> Alert Details</label>
                            <input type="text" ng-model="data.alert_description" maxlength="50" class="form-control" placeholder="Alert Name">
                        </div>
                        <div class="col-sm-3">
                            <label> </label>
                            <br/>
                            <button class="btn m-b-xs  btn-success save-btn" ng-click="saveForm(data.formtype)"><i class="fa fa-pencil"></i> Add</button>
                            &nbsp;
                            <button class="btn m-b-xs  btn-dark" ng-click="data.alert_id = ''; data.alert_description = ''; successMessage = ''; errorData = ''"> <i class="fa fa-repeat"></i> Reset</button>
                            &nbsp; </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="wrapper-md">
        <div class="panel panel-default">
            <!--<div class="panel-heading">
              Responsive Table
            </div>-->
            <div class="row wrapper">
                <div class="col-sm-5 m-b-xs">
                    <button class="btn btn-sm btn-grey" ng-click="loadAlertsList()"> 
                        &nbsp; &nbsp; <i class="fa fa-repeat"></i> &nbsp; &nbsp; 
                    </button>      
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="table-responsive">
                <table  st-table="displayedCollection"  st-safe-src="rowCollection" class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th>Alert Type</th>
                            <th>Alert </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody ng-hide="isLoading">
                        <tr ng-repeat="row in displayedCollection| orderBy: alert_description">
                            <td>
                                <span editable-select="row.alert_id" e-name="alert_id" e-form="rowform" e-ng-options="alert.alert_id as alert.alert_name for alert in alerts | orderBy: alert_name">
                                    {{ showStatus(row) }}
                                </span>
                            </td>
                            <td class="v-middle">
                                <span editable-text="row.alert_description" e-name="alert_description" e-form="rowform" onbeforesave="checkName($data)" e-required>
                                    {{ row.alert_description || 'empty' }}
                                </span>
                            </td>
                            <td style="white-space: nowrap">
                                <!-- form -->
                                <form editable-form name="rowform" onbeforesave="updateAlert($data, row.pat_alert_id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == row">
                                    <button type="submit" ng-disabled="rowform.$waiting" class="btn m-b-xs btn-info save-btn">
                                        Save
                                    </button>
                                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn m-b-xs btn-default">
                                        Cancel
                                    </button>
                                </form>
                                <div class="buttons" ng-show="!rowform.$visible">
                                    <button class="btn m-b-xs  btn-primary " ng-click="rowform.$show()"> <i class="fa fa-pencil"></i> Edit</button> 
                                    <!--<button class="btn btn-sm btn-danger" ng-click="removeUser($index)">del</button>-->
                                </div>  
                                <!--                                <button class="btn m-b-xs  btn-dark hide"> <i class="fa fa-trash"></i> Delete</button>
                                                                <a title="Edit" check-access  ui-sref="patient.alertUpdate({id: $state.params.id, alert_id: row.pat_alert_id})"  class="btn m-b-xs  btn-primary">
                                                                    <i class="fa fa-pencil"></i> Edit
                                                                </a>&nbsp;&nbsp;&nbsp;
                                                                <a class="hide btn m-b-xs  btn-dark " title="Delete" ng-click="removeRow(row)">
                                                                    <i class="fa fa-trash"></i> Delete
                                                                </a>-->

                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="4" class="text-center"><i class="fa fa-spin fa-refresh"></i></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" class="text-center">
                                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>