<div ng-controller="PatientAdmissionController" ng-init="initCanSwapAdmission()" ng-show="showForm">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3">Patient Transfer (Swapping)</h1>
    </div>
    <div class="wrapper-md" ng-init="data.formtype = 'add';
                    initSwappingForm();
                    data.PatAdmission.status = '1';
                    data.PatAdmission.admission_status = 'TR'
         ">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>
        <form name="patientAppointmentForm" class="form-horizontal form-validation" novalidate="">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Encounter</label>
                                <div class="col-sm-9">
                                    {{$state.params.enc_id}}
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg "></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Date of Transfer * </label>
                                <div class="col-sm-9">
                                    <div class="input-group w-md">
                                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0)">
                                            <div class="input-group">
                                                <input type="text" class="form-control" data-ng-model="data.PatAdmission.status_date" data-date-time-input="YYYY-MM-DD hh:mm A" />
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="data.PatAdmission.status_date" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" />
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Patient</label>
                                <div class="col-sm-9">
                                    {{activeEncounter.patient.patient_title_code}}{{activeEncounter.patient.patient_firstname}}
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg "></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Room </label>
                                <div class="col-sm-9">
                                    {{activeEncounter.currentAdmission.room.bed_name}}
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg "></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Room Type * </label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="data.PatAdmission.room_type_id" ng-options="roomType.room_type_id as roomType.room_type_name for roomType in availableRoomtypes | orderBy: room_type_name">
                                        <option value="">Select Room Type</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Patient *</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="data.PatAdmission.swapEncounterId" ng-change="setSwappingDetails()" ng-options="encounter.encounter_id as encounter.patient.patient_firstname for encounter in encounterList | orderBy: patient.patient_firstname">
                                        <option value="">Select Patient</option>
                                    </select>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg "></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Room </label>
                                <div class="col-sm-9">
                                    {{data.PatAdmission.swapRoom}}
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg "></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Room Type * </label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="data.PatAdmission.swapRoomTypeId" ng-options="roomType.room_type_id as roomType.room_type_name for roomType in availableRoomtypes2 | orderBy: room_type_name">
                                        <option value="">Select Room Type</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <footer class="panel-footer text-right bg-light lter">
                            <button class="btn m-b-xs  btn-success " ng-click="saveAdmissionForm('swap')">Save</button> &nbsp;
                            <button class="btn m-b-xs  btn-dark" ng-click="$state.go('patient.encounter', {id: $state.params.id})"> <i class="fa fa-times"></i> Cancel</button>  &nbsp;
                        </footer>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
