<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Doctor Scheduling</h1>
</div>
<div class="wrapper-md" ng-controller="DoctorSchedulesController" ng-init="loadDoctorSchedulesList()">
    <div ng-include="'tpl/blocks/alert.html'">
        {% include 'tpl/blocks/alert.html' %}
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <button class="btn btn-sm btn-grey" ng-click="loadDoctorSchedulesList()">
                &nbsp; &nbsp; <i class="fa fa-repeat"></i> &nbsp; &nbsp;
            </button>
            <button ng-click="$state.go('configuration.docScheduleCreate')" class="btn btn-sm btn-info pull-right">
                <i class="fa fa-plus"></i> &nbsp; Add Doctor Schedule
            </button>
        </div>
        <table st-table="displayedCollection"  st-safe-src="rowCollection" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        <button type="button" ng-click="ctrl.expandAll(allExpanded = !allExpanded)">
                            <span ng-bind="allExpanded ? '-' : '+ '"></span>
                        </button>
                    </th>
                    <th st-sort="name">Doctor name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="row in displayedCollection| orderBy: name">
                    <td>
                        <button ng-click="expanded = !expanded" expand>
                            <span ng-bind="expanded ? '-' : '+ '"></span>
                        </button>
                    </td>
                    <td>
                        {{row.name}}
                    </td>
                    <td>
                        <a title="Edit" ui-sref="configuration.DoctorScheduleUpdate({id: '{{row.charge_cat_id}}'})">
                            <i class="fa fa-pencil"></i>
                        </a>&nbsp;&nbsp;&nbsp;
                        <a title="Delete" ng-click="removeRow(row)">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                <tr ng-repeat-end ng-show="expanded">
                    <td></td>
                    <td colspan="2">
                        <table class="table table-condensed table-bordered">
                            <thead>
                                <tr>
                                    <th style='width: 70%'>Day</th>
                                    <th style='width: 30%'>Timings</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="day in row.days| orderBy: dayname">
                                    <td>
                                        {{day.dayname}}
                                    </td>
                                    <td>
                                        <table class="table table-condensed table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style='width: 70%'>Time In</th>
                                                    <th style='width: 30%'>Time Out</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="timing in day.timing">
                                                    <td>
                                                        {{timing.schedule_time_in}}
                                                    </td>
                                                    <td>
                                                        {{timing.schedule_time_out}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
            <tbody ng-show="isLoading">
                <tr>
                    <td colspan="3" class="text-center"><i class="fa fa-spin fa-refresh"></i></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
