<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Rooms and Bed Types</h1>
</div>

<div class="wrapper-md" ng-controller="RoomTypesRoomsController" ng-init="loadList()">

    <div ng-include="'tpl/blocks/alert.html'">
        {% include 'tpl/blocks/alert.html' %}
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <input id="filter" type="text" class="form-control input-sm w-sm inline m-r" placeholder="Search"/>
        </div>
        <table data-page-size="10" data-filter="#filter" ui-jq="footable" class="table m-b-none">
            <thead>
                <tr>
                    <th>Bed No.</th>
                    <th data-sort-ignore="true">Bed Types</th>
                    <th data-sort-ignore="true">Action</th>
                </tr>
            </thead>
            <tbody ng-if="isLoading == true">
                <tr>
                    <td colspan="3" class="text-center"><i class="fa fa-spin fa-refresh"></i></td>
                </tr>
            </tbody>
            <tbody ng-if="isLoading == false">
                <tr ng-repeat="row in rowCollection| orderBy: bed_name">
                    <td>{{row.bed_name}}</td>
                    <td>
                        <span  ng-repeat="roomType in row.roomTypes">
                            <span class="label bg-primary">
                                {{roomType.room_type_name}}
                            </span>&nbsp;
                        </span>
                    </td>
                    <td>
                        <a class="label bg-dark" title="Edit" check-access  ui-sref="configuration.roomTypeRoomUpdate({room_id: '{{row.room_id}}'})">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot class="hide-if-no-paging">
                <tr>
                    <td colspan="2" class="text-right">
                        <ul class="pagination"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>