<div ng-controller="BillingController">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3">Billing</h1>
    </div>
    <div class="wrapper-md p-b">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>
        <div class="panel panel-default m-b">
            <div class="panel-heading font-bold"> <i class="fa fa-medkit"></i> Billing Details</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-4 control-label"> <b> Encounter Id </b> </label>
                                <div class="col-sm-8">
                                    <div class="btn-group btn-group-justified">
                                        <ui-select ng-model="enc.selected" theme="bootstrap">
                                            <ui-select-match placeholder="Select Encounter Id">{{$select.selected.encounter_id}}</ui-select-match>
                                            <ui-select-choices repeat="item in encounters | filter: $select.search | orderBy: 'encounter_id' : true">
                                                <div ng-bind-html="item.encounter_id | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">  
                                <div class="col-sm-4">  <b>  Admission Date:</b>   </div>
                                <div class="col-sm-8"> {{enc.selected.encounter_date | moment:'DD/MM/YYYY - hh:mm A'}} </div>
                            </div> </div>
                        <div class="form-group">
                            <div class="row">  
                                <div class="col-sm-4">  <b> Discharge Date:</b>   </div>
                                <div class="col-sm-8"> {{enc.selected.discharge_date | moment:'DD/MM/YYYY - hh:mm A'}}</div>
                            </div> </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-4">  <b>  	Stay Duration :</b>   </div>
                                <div class="col-sm-8">  {{enc.selected.stay_duration}}  </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">  <b> 	Discount :</b>   </div>
                                <div class="col-sm-8"> <span class="label bg-light dk"> {{billing.total.concession + parseFloat(enc.selected.concession_amount) | number:2}}  ( Rm_Dis: {{enc.selected.concession_amount| number:2}} ,Otr_Dis: {{billing.total.concession| number:2}} )</span>  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-5">  <b> 	Total Amount : </b>   </div>
                            <div class="col-sm-7"> 	<span class="label bg-dark"> {{billing.total.price + recurr_billing.total.recurring_total| number:2}} </span> </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5">  <b> 	 	Amount Paid : </b>   </div>
                            <div class="col-sm-7"> <span class="label bg-success">{{billing.total.advance_charge| number:2}}  </span>	</div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5">  <b> 	 	 	Amount Payable : </b>   </div>
                            <div class="col-sm-7"> <span class="label bg-danger">-{{(billing.total.price + recurr_billing.total.recurring_total) - billing.total.advance_charge| number:2}}</span>  </span>	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-md p-b">
        <div class="panel panel-default m-b">
            <div class="panel-heading no-border bg-primary"> <i class="fa fa-medkit"></i> Recurring Charges</div>
            <div class="panel-body">
                <div class="form-group"> 
                    <a href="#" class="btn btn-default"> <i class="fa fa-plus-square"></i>  Add Payment </a>
                    <a href="#" class="btn btn-default"> <i class="fa fa-pencil"></i> Modify Payment</a>
                    <a href="#" class="btn btn-default"> <i class="fa fa-trash"></i> Delete Payment</a>
                    <div class="btn-group dropdown pull-right" dropdown>
                        <button class="btn btn-default" dropdown-toggle>More <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li> <a href="#"> Add Other Charges</a></li>
                            <li> <a href="#"> Room Concession</a></li>
                            <li>   <a href="#">Concession</a></li>
                            <li>   <a href="#"> Extra Amount</a></li>
                            <li> <a href="#">Modify Bill</a></li>
                            <li>  <a href="#">Print Bill</a></li>
                            <li> <a href="#"> Modify Allied Charge</a></li>
                            <li> <a href="#"> Vouchers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="m-b-sm">
                </div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table" ng-init="recurr_billing.total = {}">
                    <tr>
                        <th>Item</th>
                        <th>Charge</th>
                        <th>Bed Type</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>	Stay Duration</th>
                        <th align="right" style="text-align:right;">Total Charge</th>
                    </tr>
                    <tr ng-repeat="(key, row) in recurring_charges">
                        <td>{{row.charge_item}} </td>
                        <td> {{row.charge_amount}} </td>
                        <td> {{row.room_type}} </td>
                        <td> {{row.from_date}} </td>
                        <td> {{row.to_date}} </td>
                        <td> {{row.duration}} </td>
                        <td align="right" ng-init="row_recurring_total = getTotalRecurringPrice(row); recurr_billing.total.recurring_total = recurr_billing.total.recurring_total + row_recurring_total; "> {{row_recurring_total| number:2}} </td>
                    </tr>
                    <tr>
                        <td colspan="6">&nbsp;</td>   
                        <td align="right">	<strong>{{recurr_billing.total.recurring_total| number:2}}</strong></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="wrapper-md p-b">
        <div class="panel panel-default m-b">
            <div class="panel-heading bg-info font-bold"> <i class="fa fa-medkit"></i> Balance Sheet</div>
            <div class="panel-body">
                <table  class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th></th>
                            <th> 
<!--                                <label class="i-checks m-b-none">
                                    <input type="checkbox"><i></i>
                                </label>-->
                            </th>
                            <th>Category</th>
                            <th>Headers</th>
                            <th>Charge</th>
                            <th>Count</th>
                            <th>Mode</th>
                            <th>Charge</th>
                            <th>Concession</th>
                            <th>Extra</th>
                            <th align="right" style="text-align:right;">Total Price</th>
                        </tr>
                    </thead>
                    <tbody ng-hide="isLoading" ng-init="billing.total = {}">
                        <!-- Procedures -->
                        <tr ng-init="expanded = true;" ng-show="procedures">
                            <td align="center" valign="middle"></td>
                            <td> 
                                <button ng-click="expanded = !expanded" target="#moreless" ui-toggle-class="show" class="btn btn-sm btn-default hms-plus">
                                    <i ng-if="!expanded" class="fa fa-plus text"></i>
                                    <i ng-if="expanded" class="fa fa-minus text"></i>
                                </button>
                            </td>
                            <td colspan="9">
                                <b> 
                                    <span class="badge bg-success ng-binding">Category : Procedure Charges</span> 
                                </b>
                            </td>
                        </tr>
                        <tr ng-show="expanded" ng-repeat="(key, row) in procedures">
                            <td align="center" valign="middle"></td>
                            <td>
                                <label class="i-checks m-b-none">
                                    <input id="enc_procedure_{{key}}" class="enc_chk" type="checkbox" name="b[]" ng-click="moreOptions(key, 'procedure', row.ec_id, row.category_id, row.concession_amount, row.extra_amount)"><i></i>
                                </label>
                            </td>
                            <td>{{row.category}} </td>
                            <td> {{row.headers}} </td>
                            <td> {{row.charge}} </td>
                            <td> {{row.visit_count}} </td>
                            <td> {{row.trans_mode}} </td>
                            <td ng-init="billing.total.charge = billing.total.charge + parseFloat(row.total_charge); "> {{row.total_charge}} </td>
                            <td ng-init="billing.total.concession = billing.total.concession + parseFloat(row.concession_amount); "> {{row.concession_amount}} </td>
                            <td ng-init="billing.total.extra = billing.total.extra + parseFloat(row.extra_amount); "> {{row.extra_amount}} </td>
                            <td align="right" ng-init="row_total = getTotalPrice(row); billing.total.price = billing.total.price + row_total; "> {{row_total| number:2}} </td>
                        </tr>
                        <!-- Consultants -->
                        <tr ng-init="expanded = true;" ng-show="consultants">
                            <td align="center" valign="middle"></td>
                            <td> 
                                <button ng-click="expanded = !expanded" target="#moreless" ui-toggle-class="show" class="btn btn-sm btn-default hms-plus">
                                    <i ng-if="!expanded" class="fa fa-plus text"></i>
                                    <i ng-if="expanded" class="fa fa-minus text"></i>
                                </button>
                            </td>
                            <td colspan="9">
                                <b> 
                                    <span class="badge bg-success ng-binding">Category : Professional Charges</span> 
                                </b>
                            </td>
                        </tr>
                        <tr ng-show="expanded" ng-repeat="(key, row) in consultants">
                            <td align="center" valign="middle"></td>
                            <td>
                                <label class="i-checks m-b-none">
                                    <input id="enc_consultant_{{key}}" class="enc_chk" type="checkbox" name="b[]" ng-click="moreOptions(key, 'consultant', row.ec_id, row.category_id, row.concession_amount, row.extra_amount)"><i></i>
                                </label>
                            </td>
                            <td>{{row.category}} </td>
                            <td> {{row.headers}} </td>
                            <td> {{row.charge}} </td>
                            <td> {{row.visit_count}} </td>
                            <td> {{row.trans_mode}} </td>
                            <td ng-init="billing.total.charge = billing.total.charge + parseFloat(row.total_charge); "> {{row.total_charge}} </td>
                            <td ng-init="billing.total.concession = billing.total.concession + parseFloat(row.concession_amount); "> {{row.concession_amount}} </td>
                            <td ng-init="billing.total.extra = billing.total.extra + parseFloat(row.extra_amount); "> {{row.extra_amount}} </td>
                            <td align="right" ng-init="row_total = getTotalPrice(row); billing.total.price = billing.total.price + row_total; "> {{row_total| number:2}} </td>
                        </tr>
                        <!-- Other Charges -->
                        <tr ng-init="expanded = true;" ng-show="other_charges">
                            <td align="center" valign="middle"></td>
                            <td> 
                                <button ng-click="expanded = !expanded" target="#moreless" ui-toggle-class="show" class="btn btn-sm btn-default hms-plus">
                                    <i ng-if="!expanded" class="fa fa-plus text"></i>
                                    <i ng-if="expanded" class="fa fa-minus text"></i>
                                </button>
                            </td>
                            <td colspan="9">
                                <b> 
                                    <span class="badge bg-success ng-binding">Category : Other Charges</span> 
                                </b>
                            </td>
                        </tr>
                        <tr ng-show="expanded" ng-repeat="(key, row) in other_charges">
                            <td align="center" valign="middle"></td>
                            <td>
                                <label class="i-checks m-b-none">
                                    <input id="enc_other_{{key}}" class="enc_chk" type="checkbox" name="b[]" ng-click="moreOptions(key, 'other', row.other_charge_id)"><i></i>
                                </label>
                            </td>
                            <td>{{row.category}} </td>
                            <td> {{row.headers}} </td>
                            <td> {{row.charge}} </td>
                            <td> {{row.visit_count}} </td>
                            <td> {{row.trans_mode}} </td>
                            <td ng-init="billing.total.charge = billing.total.charge + parseFloat(row.total_charge); "> {{row.total_charge}} </td>
                            <td> {{row.concession_amount}} </td>
                            <td> {{row.extra_amount}} </td>
                            <td align="right" ng-init="row_total = getTotalPrice(row); billing.total.price = billing.total.price + row_total; "> {{row_total| number:2}} </td>
                        </tr>
                        <tr>
                            <td align="center" valign="middle"></td>
                            <td colspan="6" class="text-right"></td>
                            <td><strong>{{billing.total.charge| number:2}}</strong></td>
                            <td><strong>{{billing.total.concession| number:2}}</strong></td>
                            <td><strong>{{billing.total.extra| number:2}}</strong></td>
                            <td align="right"><strong>{{billing.total.price| number:2}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="wrapper-md p-b">
        <div class="panel panel-default m-b">
            <div class="panel-heading panel-heading bg-dark font-bold"> <i class="fa fa-medkit"></i> Advance Charge</div>
            <div class="panel-body">
                <div class="form-group"> 
                    <a href="#" class="btn btn-default"> <i class="fa fa-plus-square"></i>  Add Payment </a>
                    <a href="#" class="btn btn-default"> <i class="fa fa-pencil"></i> Modify Payment</a>
                    <a href="#" class="btn btn-default"> <i class="fa fa-trash"></i> Delete Payment</a>
                    <div class="btn-group dropdown pull-right" dropdown>
                        <button class="btn btn-default" dropdown-toggle>More <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li> <a href="#"> Add Other Charges</a></li>
                            <li> <a href="#"> Room Concession</a></li>
                            <li>   <a href="#">Concession</a></li>
                            <li>   <a href="#"> Extra Amount</a></li>
                            <li> <a href="#">Modify Bill</a></li>
                            <li>  <a href="#">Print Bill</a></li>
                            <li> <a href="#"> Modify Allied Charge</a></li>
                            <li> <a href="#"> Vouchers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="m-b-sm">
                </div>
                <table  class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th colspan="2">&nbsp;</th>
                            <th>Category</th>
                            <th>Headers</th>
                            <th>Mode</th>
                            <th align="right" style="text-align:right;">Paid Amount</th>
                        </tr>
                    </thead>
                    <tbody ng-hide="isLoading" ng-init="billing.total = {}">
                        <!-- Advance Charges -->
                        <tr ng-repeat="(key, row) in advances">
                            <td align="center" valign="middle"></td>
                            <td>
                                <label class="i-checks m-b-none">
                                    <input id="enc_advance_{{key}}" class="enc_chk" type="checkbox" name="b[]" ng-click="moreOptions(key, 'advance', row.payment_id)"><i></i>
                                </label>
                            </td>
                            <td>{{row.category}} </td>
                            <td> {{row.headers}} </td>
                            <td> {{row.trans_mode}} </td>
                            <td align="right" ng-init="billing.total.advance_charge = parseFloat(row.total_charge);"> {{ parseFloat(row.total_charge) | number:2}} </td>
                        </tr>
                        <tr>
                            <td align="center" valign="middle"></td>
                            <td colspan="4">&nbsp;</td>
                            <td align="right"><strong>{{billing.total.advance_charge| number:2}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
