<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <label class="col-sm-3 control-label">Encounter # </label>
            <div class="col-sm-9">
                {{encounter.encounter_id}}
            </div>
        </div>
        <div class="line line-dashed b-b line-lg "></div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Date:   </label>
            <div class="col-sm-9">
                <p>  	{{data.vital_time}}  </p>
            </div>
        </div>
        <div class="line line-dashed b-b line-lg "></div>
        
        <div class="form-group">
            <label class="col-sm-3 control-label">Temperature * </label>
            <div class="col-sm-5">
                <input type="text" maxlength="3" class="form-control" placeholder="" ng-model="data.temperature" number-mask="">
            </div>
            <div class="col-sm-4">
                <div class="row"> °C </div>
            </div>
        </div>
        <div class="line line-dashed b-b line-lg "></div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Blood Pressure Systolic</label>
            <div class="col-sm-5">
                <input type="text" maxlength="3" class="form-control" placeholder="" ng-model="data.blood_pressure_systolic" number-mask="">
            </div>
            <div class="col-sm-4">
                <div class="row"> <p> mmHg  </p></div>
            </div>
        </div>
        <div class="line line-dashed b-b line-lg "></div>
        
        <div class="form-group">
            <label class="col-sm-3 control-label">Blood Pressure Diastolic</label>
            <div class="col-sm-5">
                <input type="text" maxlength="3" class="form-control" placeholder="" ng-model="data.blood_pressure_diastolic" number-mask="">
            </div>
            <div class="col-sm-4">
                <div class="row"> <p> mmHg  </p></div>
            </div>
        </div>
        <div class="line line-dashed b-b line-lg "></div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Pulse </label>
            <div class="col-sm-5">
                <input type="text" maxlength="3" class="form-control" placeholder="" ng-model="data.pulse_rate" number-mask="">
            </div>
            <div class="col-sm-4">
                <div class="row"> <p> Beats</p> </div>
            </div>
        </div>
        <div class="line line-dashed b-b line-lg "></div>
        
        
        
        <div class="form-group">
            <label class="col-sm-3 control-label">Weight </label>
            <div class="col-sm-5">
                <input type="text" maxlength="3" class="form-control" placeholder="" ng-model="data.weight" number-mask="">
            </div>
            <div class="col-sm-4">
                <div class="row"> Kg </div>
            </div>
        </div>
    </div>
    <footer class="panel-footer text-right bg-light lter">
        <button class="btn m-b-xs  btn-success save-btn" ng-click="saveForm(data.formtype)">Save</button>
        &nbsp;
        <button class="btn m-b-xs  btn-dark" ng-click="$state.go('patient.vitals', {id: $state.params.id})">
            <i class="fa fa-times"></i> Cancel
        </button>
        &nbsp;
    </footer>
</div>