<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading font-bold">Sale Return Details</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Sale Date</label>
                                    <div class="col-lg-8">
                                        {{data.sale_date}}
                                        <!--                                        <select class="form-control" ng-model="data.patient_id" ng-options="patient.patient_id as patient.fullname for patient in patients | orderBy: fullname" ng-change="getPatientMobileNo(data.patient_id)">
                                                                                    <option value="">Select Patient</option>
                                                                                </select>-->
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg "></div>
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Patient Name </label>
                                    <div class="col-lg-8">
                                        {{data.patient_name}}
                                        <!--                                        <select class="form-control" ng-model="data.patient_id" ng-options="patient.patient_id as patient.fullname for patient in patients | orderBy: fullname" ng-change="getPatientMobileNo(data.patient_id)">
                                                                                    <option value="">Select Patient</option>
                                                                                </select>-->
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg "></div>

                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Mobile No </label>
                                    {{data.patient_mobile}}
                                    <!--                                    <div class="col-lg-8">
                                                                            <input type="text" class="form-control" ng-model="data.mobile_no"/>
                                                                        </div>-->
                                </div>
                                <!--<div class="line line-dashed b-b line-lg "></div>-->
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Date *</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="data.sale_date" is-open="$parent.opened1" datepicker-options="dateOptions" close-text="Close"  min-date="minDate" ng-click="open($event, 'opened1')" ng-focus="open($event, 'opened1')" prevent-enter="true"/>
                                    </div>
                                </div>
                                <!--<div class="line line-dashed b-b line-lg "></div>-->

                                <!--                                <div class="form-group">
                                                                    <label class="col-lg-4 control-label">Payment Type *</label>
                                                                    <div class="col-lg-8 col-sm-9">
                                                                        <div class="input-group w-md">
                                                                            <label class="i-checks" ng-repeat="paymentType in paymentTypes">
                                                                                <input type="radio" checked="" value="{{paymentType.value}}" name="paymentType" ng-model="data.payment_type">
                                                                                <i></i>
                                                                                {{paymentType.label}}&nbsp; &nbsp;
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="line line-dashed b-b line-lg "></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Sale Return Items</b>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">

                        <table class="table table-bordered table-hover table-condensed bg-white-only">
                            <tr style="font-weight: bold">
                                <td><span>Product Name</span></td>
                                <td><span>Batch No</span></td>
                                <td><span>Exp Date</span></td>
                                <td><span>Qty</span></td>
                                <td><span>Return Qty</span></td>
                                <td><span>MRP</span></td>
                                <td><span>Line Total</span></td>
                                <td><span>Disc %</span></td>
                                <td><span>Disc. Amt</span></td>
                                <td><span>Vat</span></td>
                                <td><span>Vat Amt</span></td>
                                <td><span>Total Amt</span></td>
                                <!--<td><span>Action</span></td>-->
                            </tr>
                            <tr ng-repeat="(key, saleitem) in saleItems">
                                <td>
                                    {{ saleitem.full_name || 'empty' }}
                                </td>
                                <td>
                                    {{ saleitem.batch_details || 'empty' }}
                                </td>
                                <td>
                                    {{ saleitem.expiry_date | moment:'MMM YYYY' || 'empty' }}
                                </td>
                                <td>
                                    {{saleitem.total_returned_quantity > 0 ? saleitem.sale_quantity - saleitem.total_returned_quantity + ' (' + saleitem.sale_quantity + ')' : saleitem.sale_quantity}}
                                </td>
                                <td>
                                    <span 
                                        editable-text="saleitem.quantity" 
                                        e-number-mask="" 
                                        e-name="quantity" 
                                        e-number-mask="" 
                                        e-form="tableform" 
                                        onbeforesave="checkReturnQuantity($data, key);" 
                                        e-ng-keydown="updateColumn($data, key, 'quantity')"  
                                        e-ng-keyup="updateColumn($data, key, 'quantity')" 
                                        e-autocomplete="off" 
                                        e-limit-to="7">
                                        {{saleitem.quantity|| 0}}
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        {{saleitem.mrp|| 0}}
                                    </span>
                                </td>
                                <td><span>{{saleitem.item_amount}}</span></td>
                                <td>
                                    <span 
                                        editable-text="saleitem.discount_percentage" 
                                        e-number-mask="" 
                                        e-name="discount_percent" 
                                        e-number-mask="" 
                                        e-form="tableform" 
                                        e-ng-keydown="updateColumn($data, key, 'discount_percentage')"  
                                        e-ng-keyup="updateColumn($data, key, 'discount_percentage')" 
                                        e-autocomplete="off" 
                                        e-limit-to="5">
                                        {{saleitem.discount_percentage|| 0}}
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        {{saleitem.discount_amount|| 0}}
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        {{saleitem.vat_percent}}
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        {{saleitem.vat_amount}}
                                    </span>
                                </td>
                                <td><span>{{saleitem.total_amount}}</span></td>
                                <!--                                <td>
                                                                    <button type="button" ng-click="removeSaleItem($index)" class="btn btn-sm btn-danger pull-right">Delete</button>
                                                                </td>-->
                            </tr>
                        </table>
                        <div class="btn-form">
                            <br>
                            <!--                            <button type="button" ng-click="tableform.$show();
                                                            addRow()" class="btn btn-default pull-left btn-primary">Add Product</button>-->
                            <button type="button" ng-show="!tableform.$visible;" ng-click="tableform.$show();" class="btn btn-default pull-left btn-info">Edit Products</button>
                        </div>
                    </div>
                </div>
            </div>    
        </div>    
    </div>

    <div class="col-sm-6"></div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-lg-5 control-label">Total Item Vat Amount</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control text-right" ng-value="data.total_item_vat_amount" readonly="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-5 control-label">Total Item Sale Return Amount</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control text-right" ng-value="data.total_item_sale_amount" readonly="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Disc %</label>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" ng-model="data.total_item_discount_percent" ng-change="updateSaleRate()" maxlength="5" number-mask="">
                    </div>
                    <div class="col-lg-7">
                        <input type="text" class="form-control text-right" ng-value="data.total_item_discount_amount" readonly="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-5 control-label">Total Return Amount</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control text-right" ng-value="data.total_item_amount" readonly="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-5 control-label">Round Off</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control text-right" ng-value="data.roundoff_amount" readonly="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-5 control-label">Bill Amount</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control text-right" ng-value="data.bill_amount" readonly="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <footer class="panel-footer text-right bg-light lter">
        <button class="btn m-b-xs  btn-success save-btn">Save</button>
        &nbsp;
        <button type="button" class="btn m-b-xs btn-dark" ng-click="$state.go('pharmacy.saleReturn')"><i class="fa fa-times"></i> Cancel</button>
        &nbsp;
    </footer>
</div>


