<div>
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3"> Sale Verification </h1>
    </div>
    <div class="wrapper-md">
        <div ng-include="'tpl/blocks/alert.html'">
            {% include 'tpl/blocks/alert.html' %}
        </div>


        <div class="modal-body">
            <h4>This Patient has active IP Encounters</h4>
        </div>
        <div class="modal-footer">
            <button class="btn m-b-xs  btn-success" ng-click="cancel()">Okay</button>
        </div>


    </div>
</div>