<div>
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3"> Print Bill </h1>
    </div>

    <div class="wrapper-md">
        <div class="panel panel-info" draggable="true">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-8">
                        <form name="myForm">
                            <input type="radio" ng-model="bill_type" value="bill_summary"> <b>Bill Summary</b> &nbsp;
                            <input type="radio" ng-model="bill_type" value="detailed_bill"> <b>Detailed Bill</b><br/>
                        </form>
                    </div>
                    <div class="col-sm-4">
                        <button ng-click="printBill()" class="btn btn-default pull-right"> 
                            <i class="fa fa-print"></i> Print Bill
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div ng-show="isShown('bill_summary')" id="bill_summary">
            <div class="bill-cont">
                <div class="bill-header"> 
                    <div id="logo"> <h1> {{app.org_name}} </h1> </div>
                    <div class="bill-heading"> <h1>BILLING SUMMARY</h1> </div>
                    <div id="company">
                        <div id="invoice">
                            <h1>Bill No : <span> {{enc.selected.bill_no}} </span></h1>
                            <div class="date">Report Genarated On : {{report_generated_date}}</div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <main>
                    <div class="clearfix" id="details">
                        <div id="patient-detail">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td colspan="2"><h2>Patient Detail:</h2></td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td><strong>Hospital No</strong></td>
                                                <td>:</td>
                                                <td>22040</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Name</span></strong></td>
                                                <td>:</td>
                                                <td>{{app.patientDetail.patientFullname}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Age</strong></td>
                                                <td>:</td>
                                                <td>{{app.patientDetail.patientAge}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Sex</strong></td>
                                                <td>:</td>
                                                <td>{{app.patientDetail.patientSex}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td><strong>Admission Date</strong></td>
                                                <td>:</td>
                                                <td>{{enc.selected.encounter_date| moment:'DD/MM/YYYY - hh:mm A'}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Discharge Date</span></strong></td>
                                                <td>:</td>
                                                <td>{{enc.selected.discharge_date| moment:'DD/MM/YYYY - hh:mm A'}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Ward No</strong></td>
                                                <td>:</td>
                                                <td>{{app.patientDetail.patientCurrentRoom}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>No.ofDays</strong></td>
                                                <td>:</td>
                                                <td>{{enc.selected.stay_duration}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong><span id="ReportViewer_ReportViewer">Consultant Name</span></strong></td>
                                                <td>:</td>
                                                <td>
                                                    <span id="ReportViewer_ReportViewer2">
                                                        {{app.patientDetail.patientLastConsultantName}}
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="bill-heading2"> 
                        <h2>	
                            Bill Summary:
                        </h2> 
                    </div>

                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                            <tr>

                                <th width="81%" class="desc"><strong>Description of Service</strong></th>
                                <th width="19%" align="right" class="unit"><strong>UNIT PRICE</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td class="desc">Recurring Charges</td>
                                <td class="unit">{{recurr_billing.total.recurring_total| number:2}}</td>
                            </tr>
                            <tr>

                                <td class="desc">Non-recurring charges</td>
                                <td class="unit">{{billing.total.price| number:2}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>GRAND TOTAL :</td>
                                <td>{{(billing.total.price + recurr_billing.total.recurring_total) | number:2}}</td>
                            </tr>
                            <tr>
                                <td>ADVANCE :</td>
                                <td>
                                    <span ng-if="billing.total.advance_charge">{{billing.total.advance_charge| number:2}} </span>	
                                    <span ng-if="!billing.total.advance_charge"> 0.00 </span>	
                                </td>
                            </tr>
                            <tr>
                                <td>Discount :</td>
                                <td>
                                    {{enc.selected.concession_amount| number:2}}
                                </td>
                            </tr>
                            <tr>
                                <td>NET TOTAL :</td>
                                <td>{{(billing.total.price + recurr_billing.total.recurring_total) - billing.total.advance_charge - enc.selected.concession_amount| number:2}}</td>
                            </tr>
                        </tfoot>
                    </table>

                    <div id="notices">
                        <div></div>
                        <div class="notice">
                            <span id="ReportViewer_ReportViewer3">
                                {{app.org_address}}
                                {{app.org_city}} 
                                {{app.org_state}} 
                                {{app.org_country}}. 
                                Ph :{{app.org_mobile}}
                            </span>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <div ng-show="isShown('detailed_bill')" id="detailed_bill" ng-init="detailed_billing.total = {}">
            <div class="bill-cont">
                <div class="bill-header"> 
                    <div id="logo"> <h1> {{app.org_name}} </h1> </div>
                    <div class="bill-heading"> <h1>DETAILED BILLING SUMMARY</h1> </div>
                    <div id="company">
                        <div id="invoice">
                            <h1>Bill No : <span> {{enc.selected.bill_no}} </span></h1>
                            <div class="date">Report Genarated On : {{report_generated_date}}</div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <main>
                    <div class="clearfix" id="details">
                        <div id="patient-detail">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td colspan="2"> <h2>Patient Detail:</h2></td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td><strong>Hospital No</strong></td>
                                                <td>:</td>
                                                <td>22040</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Name</span></strong></td>
                                                <td>:</td>
                                                <td>{{app.patientDetail.patientFullname}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Age</strong></td>
                                                <td>:</td>
                                                <td>{{app.patientDetail.patientAge}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Sex</strong></td>
                                                <td>:</td>
                                                <td>{{app.patientDetail.patientSex}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td><strong>Admission Date</strong></td>
                                                <td>:</td>
                                                <td>{{enc.selected.encounter_date| moment:'DD/MM/YYYY - hh:mm A'}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Discharge Date</span></strong></td>
                                                <td>:</td>
                                                <td>{{enc.selected.discharge_date| moment:'DD/MM/YYYY - hh:mm A'}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Ward No</strong></td>
                                                <td>:</td>
                                                <td>{{app.patientDetail.patientCurrentRoom}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>No.of Days</strong></td>
                                                <td>:</td>
                                                <td>{{enc.selected.stay_duration}}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>
                                                        <span id="ReportViewer_ReportViewer">
                                                            Consultant Name
                                                        </span>
                                                    </strong>
                                                </td>
                                                <td>:</td>
                                                <td>
                                                    <span id="ReportViewer_ReportViewer2">
                                                        {{app.patientDetail.patientLastConsultantName}}
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="bill-heading2"> <h2>	
                            Bill Summary:
                        </h2> 
                    </div>

                    <table cellspacing="0" cellpadding="0" border="0" ng-init="detailed_recurr_billing.total = {}">
                        <thead>
                            <tr>
                                <th class="desc"><strong>From Date</strong></th>
                                <th class="unit"><strong>To Date</strong></th>
                                <th class="desc"><strong>DESCRIPTION </strong></th>
                                <th class="unit"><strong>Debit</strong></th>
                                <th class="qty"><strong>Credit</strong></th>
                                <th class="total"><strong>Net TOTAL</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, row) in recurring_charges">
                                <td class="desc unit2">
                                    <span id="ReportViewer_ReportViewer3">{{row.from_date| moment:'DD-MMM-YYYY'}}</span>
                                </td>
                                <td class="unit unit2">
                                    <span id="ReportViewer_ReportViewer3">{{row.to_date| moment:'DD-MMM-YYYY'}}</span>
                                </td>
                                <td class="desc">
                                    {{row.charge_item}} ({{row.charge_amount}} * {{row.duration}}) ({{row.room_type}}) 
                                </td>
                                <td align="center" class="unit" ng-init="
                                            row_recurring_total = getTotalRecurringPrice(row);
                                            detailed_recurr_billing.total.recurring_total = detailed_recurr_billing.total.recurring_total + row_recurring_total;
                                    "> {{row_recurring_total| number:2}}</td>
                                <td class="qty">&nbsp;</td>
                                <td align="center" class="total">
                                    {{row.net_amount| number:2}}
                                </td>
                            </tr>
                            <tr class="bn">
                                <td class="desc" colspan="2">&nbsp;</td>
                                <td align="right" class="unit">
                                    <strong>Sub Total</strong>
                                </td>
                                <td align="center" class="unit bb">
                                    <strong>{{detailed_recurr_billing.total.recurring_total| number:2}}</strong>
                                </td>
                                <td class="qty">&nbsp;</td>
                                <td class="total"><strong>{{detailed_recurr_billing.total.recurring_total| number:2}}</strong></td>
                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>

                    <div class="bill-heading2">
                        <h2> Professional Charges:</h2>
                    </div>
                    <table cellspacing="0" cellpadding="0" border="0"  class="detail-table" ng-init="detailed_non_billing.total = {};">
                        <thead>
                            <tr>
                                <th class="desc"><strong>DESCRIPTION </strong></th>
                                <th class="unit"><strong>Debit</strong></th>
                                <th class="qty"><strong>Credit</strong></th>
                                <th class="total"><strong>Net TOTAL</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-init="detailed_billing.total.net_step_1_total = detailed_recurr_billing.total.recurring_total" ng-repeat="(key, row) in procedures">
                                <td class="desc">{{row.category}}</td>
                                <td align="center" class="unit" ng-init="
                                    detailed_non_billing.total.charge = detailed_non_billing.total.charge + parseFloat(row.total_charge);
                                    detailed_billing.total.procedure_net_total = detailed_recurr_billing.total.recurring_total + parseFloat(row.net_amount);
                                    ">{{row.total_charge| number:2}}</td>
                                <td class="qty">&nbsp;</td>
                                <td align="center" class="total">
                                    {{(detailed_billing.total.net_step_1_total + row.net_amount)| number:2}}
                                </td>
                            </tr>
                            <tr ng-init="detailed_billing.total.net_step_2_total = detailed_billing.total.procedure_net_total;" ng-repeat="(key, row) in consultants">
                                <td class="desc">{{row.category}}</td>
                                <td align="center" class="unit" ng-init="
                                    detailed_non_billing.total.charge = detailed_non_billing.total.charge + parseFloat(row.total_charge);
                                    detailed_billing.total.consultant_net_total = detailed_billing.total.procedure_net_total + parseFloat(row.net_amount);
                                    ">{{row.total_charge| number:2}}</td>
                                <td class="qty">&nbsp;</td>
                                <td align="center" class="total">
                                    {{(detailed_billing.total.net_step_2_total + row.net_amount)| number:2}}
                                </td>
                            </tr>
                            <tr ng-init="detailed_billing.total.net_step_3_total = detailed_billing.total.consultant_net_total" ng-repeat="(key, row) in other_charges">
                                <td class="desc">{{row.category}}</td>
                                <td align="center" class="unit" ng-init="
                                    detailed_non_billing.total.charge = detailed_non_billing.total.charge + parseFloat(row.total_charge);
                                    detailed_billing.total.other_net_total = detailed_billing.total.consultant_net_total + parseFloat(row.net_amount);
                                    ">{{row.total_charge| number:2}}</td>
                                <td class="qty">&nbsp;</td>
                                <td align="center" class="total">
                                    {{(detailed_billing.total.net_step_3_total + row.net_amount)| number:2}}
                                </td>
                            </tr>
                            
                            <tr class="bn">
                                <td align="right" class="unit"><strong>Sub Total</strong></td>
                                <td align="center" class="unit bb"><strong>{{detailed_non_billing.total.charge| number:2}}</strong></td>
                                <td class="qty">&nbsp;</td>
                                <td class="total"><strong>{{detailed_non_billing.total.other_net_total| number:2}}</strong></td>
                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>

                    <div class="bill-heading2">
                        <h2> Advance: </h2>
                    </div>
                    <table cellspacing="0" cellpadding="0" border="0"  class="detail-table">
                        <thead>
                            <tr>
                                <th class="desc unit  unit2"><strong>Date</strong></th>
                                <th class="desc"><strong>DESCRIPTION </strong></th>
                                <th class="unit"><strong>Debit</strong></th>
                                <th class="qty"><strong>Credit</strong></th>
                                <th class="total"><strong>Net TOTAL</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-init="detailed_billing.total.net_step_4_total = detailed_billing.total.other_net_total" ng-repeat="(key, row) in advances">
                                <td class="desc unit  unit2">{{row.payment_date| moment:'DD-MMM-YYYY'}}</td>
                                <td class="desc">{{row.headers}}</td>
                                <td class="unit">&nbsp;</td>
                                <td align="center" class="qty" ng-init="
                                    detailed_non_billing.total.adv_charge = detailed_non_billing.total.adv_charge + parseFloat(row.total_charge);
                                    detailed_billing.total.advance_net_total = detailed_billing.total.other_net_total - parseFloat(row.net_amount);
                                    ">{{row.total_charge| number:2}}</td>
                                <td align="center" class="total">
                                    {{(detailed_billing.total.net_step_4_total - row.net_amount)| number:2}}
                                </td>
                            </tr>
                            <tr class="bn">
                                <td class="desc">&nbsp;</td>
                                <td align="right" class="unit"><strong>Sub Total</strong></td>
                                <td class="qty">&nbsp;</td>
                                <td align="center" class="unit bb"><strong>{{detailed_non_billing.total.adv_charge| number:2}}</strong></td>
                                <td class="total"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>

                    <!--                    <div id="notices">
                                            <div>NOTICE:</div>
                                            <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
                                        </div>-->
                </main>
            </div>
        </div>
    </div>
</div>