<div>
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n h3"> Print Bill </h1>
    </div>

    <div class="wrapper-md">
        <form name="myForm">
            <input type="radio" ng-model="bill_type" value="bill_summary"> Bill Summary &nbsp;
            <input type="radio" ng-model="bill_type" value="detailed_bill"> Detailed Bill<br/>
        </form>

        <div ng-show="isShown('bill_summary')">
            <div class="bill-cont">
                <div class="bill-header"> 
                    <div id="logo"> <h1> {{app.org_name}} </h1> </div>
                    <div class="bill-heading"> <h1>BILLING SUMMARY</h1> </div>
                    <div id="company">
                        <div id="invoice">
                            <h1>Bill No : <span> Dft0006</span></h1>
                            <div class="date">Report Genarated On : 01/06/2014</div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                
                <main>
                    <div class="clearfix" id="details">
                        <div id="patient-detail">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td colspan="2"><h2>Patient Detail:</h2></td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td><strong>Hospital No</strong></td>
                                                <td>:</td>
                                                <td>22040</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Name</span></strong></td>
                                                <td>:</td>
                                                <td>{{app.patientDetail.patientFullname}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Age</strong></td>
                                                <td>:</td>
                                                <td>{{app.patientDetail.patientAge}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Sex</strong></td>
                                                <td>:</td>
                                                <td>{{app.patientDetail.patientSex}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td><strong>Admission Date</strong></td>
                                                <td>:</td>
                                                <td>{{enc.selected.encounter_date| moment:'DD/MM/YYYY - hh:mm A'}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Discharge Date</span></strong></td>
                                                <td>:</td>
                                                <td>{{enc.selected.discharge_date| moment:'DD/MM/YYYY - hh:mm A'}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Ward No</strong></td>
                                                <td>:</td>
                                                <td>{{app.patientDetail.patientCurrentRoom}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>No.ofDays</strong></td>
                                                <td>:</td>
                                                <td>{{enc.selected.stay_duration}}</td>
                                            </tr>
                                            <tr>
                                                <td><strong><span id="ReportViewer_ReportViewer">Consultant Name</span></strong></td>
                                                <td>:</td>
                                                <td>
                                                    <span id="ReportViewer_ReportViewer2">
                                                        {{app.patientDetail.patientLastConsultantName}}
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="bill-heading2"> <h2>	
                            Bill Summary:
                        </h2> 
                    </div>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                            <tr>

                                <th width="81%" class="desc"><strong>Description of Service</strong></th>
                                <th width="19%" align="right" class="unit"><strong>UNIT PRICE</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td class="desc">Recurring Charges</td>
                                <td class="unit">{{recurr_billing.total.recurring_total | number:2}}</td>
                            </tr>
                            <tr>

                                <td class="desc">Non-recurring charges</td>
                                <td class="unit">{{billing.total.price | number:2}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>GRAND TOTAL :</td>
                                <td>{{(billing.total.price + recurr_billing.total.recurring_total) | number:2}}</td>
                            </tr>
                            <tr>
                                <td>ADVANCE :</td>
                                <td>
                                    <span ng-if="billing.total.advance_charge">{{billing.total.advance_charge| number:2}} </span>	
                                    <span ng-if="!billing.total.advance_charge"> 0.00 </span>	
                                </td>
                            </tr>
                            <tr>
                                <td>Discount :</td>
                                <td>
                                    {{enc.selected.concession_amount | number:2}}
                                </td>
                            </tr>
                            <tr>
                                <td>NET TOTAL :</td>
                                <td>{{(billing.total.price + recurr_billing.total.recurring_total) - billing.total.advance_charge - enc.selected.concession_amount| number:2}}</td>
                            </tr>
                        </tfoot>
                    </table>
                    <div id="notices">
                        <div></div>
                        <div class="notice">
                            <span id="ReportViewer_ReportViewer3">
                                No:11, Subburaman st., Gandhi Nagar, Madurai- 625020. Ph :+91 452 253 3444   Fax : +91 452 253 3111
                            </span>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        
        <div ng-show="isShown('detailed_bill')">
            sfdsdf
        </div>
    </div>
</div>