<div ng-controller="DocumentsController" ng-init="data.form_type = 'update';
                initForm()">
    <textarea ng-model="xml" rows="10" class="form-control ng-pristine ng-untouched ng-valid" id="xml"></textarea>
    <textarea ng-model="xslt" rows="10" class="form-control ng-pristine ng-untouched ng-valid" id="xslt"></textarea>
    <div ng-bind-html="xml | xslt:xslt | sanitize"></div>
    <input type="submit" id="btn_sub" name="btn_sub" value="Submit" ng-click="submitXsl()"  />
    <input type="reset" id="btn_res" name="btn_res" value="Reset" />
</div>