<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <label class="col-sm-3 control-label">Charge Category Name * </label>
            <div class="col-sm-9">
                <input type="text" ng-model="data.charge_cat_name" maxlength="50" name="roomChargeCategoryName" class="form-control" placeholder="Room Charge Category Name">
            </div>
        </div>
        <div class="line line-dashed b-b line-lg "></div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Charge Category Description * </label>
            <div class="col-sm-9">
                <input type="text" ng-model="data.charge_cat_description" maxlength="50" name="roomChargeCategoryName" class="form-control" placeholder="Room Charge Category Code">
            </div>
        </div>
        <div class="line line-dashed b-b line-lg "></div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Charge Category Code </label>
            <div class="col-sm-9">
                <input type="text" ng-model="data.charge_cat_code" maxlength="50" name="roomChargeCategoryName" class="form-control" placeholder="Room Charge Category Code">
            </div>
        </div>
        <div class="line line-dashed b-b line-lg "></div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Status</label>
            <div class="col-sm-9">
                <label class="i-checks "> <input type="checkbox" ng-true-value="'1'" ng-false-value="'0'" name="status" ng-model="data.status" ng-checked="data.status == '1'"> <i></i> </label> &nbsp; &nbsp;
            </div>
        </div>

        <div class="line line-dashed b-b line-lg "></div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Sub Categories</label>
            <div class="col-sm-9">
                <table class="table table-bordered table-hover table-condensed bg-white-only">
                    <tr style="font-weight: bold">
                        <td style="width:70%">Name</td>
                        <td style="width:30%"><span>Action</span></td>
                    </tr>
                    <tr ng-repeat="subcategory in subcategories">
                        <td>
                            <!-- editable username (text with validation) -->
                            <span editable-text="subcategory.charge_subcat_name" e-name="charge_subcat_name" e-form="nameform" onbeforesave="checkInput($data)">
                                {{ subcategory.charge_subcat_name || 'empty' }}
                            </span>
                        </td>
                        <td>
                            <button type="button" ng-click="removeSubcat($index, subcategory.charge_subcat_id)" class="btn btn-sm btn-danger pull-right">Delete</button>
                        </td>
                    </tr>
                </table>
                <div class="btn-form">
                    <!--<button type="button" ng-click="tableform.$show();" class="btn btn-default pull-left btn-info">Edit</button>-->
                    &nbsp;
                    <button type="button" ng-click="tableform.$show(); addRow()" class="btn btn-default pull-left btn-primary">Add Row</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="panel-footer text-right bg-light lter">
        <button class="btn m-b-xs  btn-success " >Save</button>
        &nbsp;
        <button type="button" class="btn m-b-xs  btn-dark" ng-click="$state.go('configuration.roomChargeCategory')"><i class="fa fa-times"></i> Cancel</button>
        &nbsp;
    </footer>
</div>
