<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Room Charge Categories</h1>
</div>
<div class="wrapper-md" ng-controller="RoomChargeCategorysController" ng-init="loadRoomChargeCategorysList()">
    <div ng-include="'tpl/blocks/alert.html'">
        {% include 'tpl/blocks/alert.html' %}
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <button class="btn btn-sm btn-grey" ng-click="loadRoomChargeCategorysList()"> 
                &nbsp; &nbsp; <i class="fa fa-repeat"></i> &nbsp; &nbsp; 
            </button>
            <button ng-click="$state.go('configuration.roomChargeCategoryCreate')" class="btn btn-sm btn-info pull-right">
                <i class="fa fa-plus"></i> &nbsp; Add new Room Charge Category
            </button>
        </div>
        <table st-table="displayedCollection"  st-safe-src="rowCollection" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        <button type="button" ng-click="ctrl.expandAll(allExpanded = !allExpanded)">
                            <span ng-bind="allExpanded ? '-' : '+ '"></span>
                        </button>
                    </th>
                    <th st-sort="charge_cat_name">Charge Category name</th>
                    <th st-sort="charge_cat_description">Charge Category Description</th>
                    <th st-sort="charge_cat_code">Charge Category Code</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="row in displayedCollection| orderBy: charge_cat_name">
                    <td>
                        <button ng-click="expanded = !expanded" expand>
                            <span ng-bind="expanded ? '-' : '+ '"></span>
                        </button>
                    </td>
                    <td>
                        {{row.charge_cat_name}}
                    </td>
                    <td>
                        {{row.charge_cat_description}}
                    </td>
                    <td>
                        {{row.charge_cat_code}}
                    </td>
                    <td>
                        <label class="i-checks "> 
                            <input type="checkbox" checked="" ng-true-value="'1'" ng-false-value="'0'" name="status" ng-model="row.status" ng-change='updateStatus("CoRoomChargeCategory", row.charge_cat_id)'> 
                            <i></i>
                        </label>
                    </td>                    
                    <td>
                        <a title="Edit" ui-sref="configuration.roomChargeCategoryUpdate({id: '{{row.charge_cat_id}}'})">
                            <i class="fa fa-pencil"></i>
                        </a>&nbsp;&nbsp;&nbsp;
                        <a title="Delete" ng-click="removeRow(row)">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                <tr ng-repeat-end ng-show="expanded">
                    <td></td>
                    <td colspan="3">
                        <table class="table table-condensed table-bordered">
                            <thead>
                                <tr>
                                    <th>Sub Categories</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="subcat in allSubCategories" ng-if="subcat.charge_cat_id == row.charge_cat_id">
                                    <td>{{subcat.charge_subcat_name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td colspan="2"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
